<!DOCTYPE html>
<html class="not-ie" lang="en">
<head>


<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

  <meta charset="utf-8">
  <meta name="description" content="NIM- Responsive One Page Creative Template" />
  <meta name="keywords" content=""/>
  <meta name="author" content="Metrothenes" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="stylesheet" media="screen" href="../../css/bootstrap.min.css"/>
  <link rel="stylesheet" media="screen" href="../../css/commonExt.css"/>
  <link rel="stylesheet" media="screen" href="../../css/premiumList.css" />

  <script src="/bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/dataStore.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/interface.js" type="text/javascript" charset="utf-8"></script>

  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/ngWechat.js?t=8446546" type="text/javascript" charset="utf-8"></script>
  <script src="/js/wechatActivity/activ.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/wechatActivity/activC.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/wechatActivity/activS.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body ng-app="app" ng-controller="myListC" ng-cloak>
		<!--begin: 导航条部分-->
		<header class="activityHead">
			  <div class="container">
			  		 <a href="javascript:void(0);" ng-back class="goBack"></a>
          	 <h1 class="title">我的奖品</h1>
          	 <!--<a href="javascript:void(0)" class="goShare"></a>-->
			  </div>
		</header>
		<img src="../../images/wecharActivily/bg-01.jpg" alt=""  class="myBg"/>
		<div class="container main"> 
				<div class="form"> 
				      <a class="user-custom  symsBtn right" href="javascript:void(0);" ng-click="toSys($event)"></a>
					       <div class="table-responsive">
					       	   <h2 class="text-center">我的奖品</h2>
						      <table class="table table-bordered">
						            <thead>
						                <th style="width:52px">红包</th>
						                <th style="width:160px">中奖时间</th>
						                <th style="width:78px" class="border-0">备注</th>
						            </thead>
							   </table>
							   <div class="heightScroll">
							   	<table class="table table-bordered">
							   			<tbody>
					 								  <tr ng-repeat="(key,value) in List">
					 								  	   <td style="width:52px">{{value.number | number:1}}元</td>
					 								  	   <td style="width:160px">{{value.dateTime | date:"yyyy-MM-dd hh:mm:ss" }} </td>
					 								  	   <td style="width:78px" class="border-0">{{value.mask}}</td>
					 								  </tr>
							   		</tbody>
							   	</table>
							   </div>
						   </div>
				</div>
		</div>
	</body>
</html>

