
<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
  <meta charset="utf-8">
  <meta name="description" content="NIM- Responsive One Page Creative Template" />
  <meta name="keywords" content=""/>
  <meta name="author" content="Metrothenes" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="stylesheet" media="screen" href="../css/bootstrap.min.css"/>
  <link rel="stylesheet" media="screen" href="../css/commonCss.css"/>
  <link rel="stylesheet" media="screen" href="../css/gatarea.css"/>

  <link rel="stylesheet" media="screen" href="../css/angular/angular-carousel.min.css"/>

  <script src="/bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/bower_components/angular-sanitize/angular-sanitize.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/dataStore.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/interface.js" type="text/javascript" charset="utf-8"></script>

  
  <script src="/js/plugin/jweixin-1.0.0.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/ngWechat.js?t=8446546" type="text/javascript" charset="utf-8"></script>
  

  <script src="/js/home/angular-carousel.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/commodity/commodityS.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/commodity/commodityC.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
  var ngmodule = ["ui.router", "app.controllers", "app.services", "angular-carousel", "ngTouch", "ngSanitize", "app.dataStore","app.wechat"]
  var app = angular.module('app', ngmodule).run(function() {})
  </script>
  
  <title>当前城市</title>
</head>
<body ng-app="app" ng-controller="gatareaC" ng-loading style="display:none" >
	<div class="view">
      <!-- 头部 -->
    <header class="header-box">
      <div class="container">
        <div class="activebar">
          <a href="#" class="btnBack" ng-back="home"><img src="../images/user/btnBack.png"/></a>
          <span class="title">
          选择出发城市
          </span>
        </div>
      </div>
    </header>

	  <div id="content" class="container content">
	  	<div class="search">
       	<input type="text" name="search" id="search" ng-model="search" placeholder="请输入城市名称" class="searchInput form-control" ng-enter="load()"/>
       	<img class="searchIcon" src="../images/index/icon_serch@2x.png" height="12px" width="12px"/>
      </div>
      <div class="location">
      	您当前位置
      </div>
      <div class="place">
      	<p class="local" ng-show="show">{{city}}</p>
      	<p ng-hide="show"><img src="../images/index/icon_refresh@2x.png" height="18px" width="22px" ng-click="submit()"/>无法获取您的位置，请在设置-隐私-定位中打开定位服务<p>
      </div>
      
      <div class="citys">
      	<p ng-repeat="(k,v) in selectBox" ng-click="mydown(v)">{{v}}</p>
        <!--
      	<p>阿坝州</p>
      	<p>阿克苏地区</p>
        -->
      </div>
      <div class="citys">
      	<p ng-repeat="x in hotCity" ng-click="mydown(x)">{{x}}</p>
        <!--
      	<p>阿坝州</p>
      	<p>阿克苏地区</p>
        -->
      </div>
	    <div class="banmie" style="display: none;">
	        <div class="linck_up">
	          <p>
	            <h4>定位城市</h4>
	            <!-- <p class="filter-box"><span ng-bind="ByLngLat.city.name">深圳</span></p> -->
	            <ul class="downup clear">
	              <li>
	                  <span ng-click="submit()" ng-bind="ByLngLat.city.name"></span>
	              </li>
	            </ul>
	          </p>
	          <!-- <p>
	            <h4>最近访问城市</h4>
	            <ul class="downup clear">
	              <li>
	                  <span>深圳</span>
	              </li>
	            </ul>
	          </p> -->
	          <p>
	            <h4>热门城市</h4>
	            <ul class="downup clear">
	              <li ng-repeat="(k, v) in gatarea">
	                  <span ng-bind="v.city_name" ng-click="mydown(v)"></span>
	              </li>
	            </ul>
	          </p>
	        </div>
	    </div>
	  </div>
  <message></message>
	</div>

</body>


