<!DOCTYPE html>
<html class="not-ie" lang="en">
<head>


<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />


	<meta charset="utf-8">
	<meta name="description" content="NIM- Responsive One Page Creative Template" />
	<meta name="keywords" content=""/>
	<meta name="author" content="Metrothenes" />
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<link rel="stylesheet" media="screen" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" media="screen" href="../css/commonExt.css"/>
	<link rel="stylesheet" media="screen" href="../css/memcenter.css"/>

	<script src="/bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/bower_components/angular-touch/angular-touch.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/dataStore.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/interface.js" type="text/javascript" charset="utf-8"></script>
	
  	<script src="/js/ngResizeImage.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/user/userS.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/user/userC.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/user/user.js" type="text/javascript" charset="utf-8"></script>

	<title>我</title>
</head>
<body ng-app="app" ng-controller="memCenterC">
	<div class="view">
		<!-- 头部 -->
		<!-- <header class="header-box">
			<div class="container">
				<div class="activebar">
					<a class="btnBack backNoText"></a>
					<span class="title">我</span>
					<a class="hd-rightBtn fr activebar-a" style="margin-right:8px; padding:0 8px;position:relative;z-index:10;" ng-click="toPage('ucenter')"></a>
				</div>
			</div>
		</header> -->

		<header class="">
			<div class="wrap">
				<div class="welcome-box">
					<p class="box-p" ng-click="toPage('ucenter')" ng-show="isLogin"></p>
					<p class="flex" ng-click="toPage('personalCenter')">
						<img err-src="../../images/avatar.png" ng-src="{{user.image}}" class="welcome-logo" ng-show="isLogin">
						<span class="flexOne" ng-show="isLogin" ng-bind="user.username">嘿~欢迎来到吉途旅游商城!</span>
					</p>
				</div>
				<div class="btn-box" ng-hide="isLogin">
					<a ng-click="login()">登录</a>
					<a href="./user/register.html" class="btn-1">注册</a>
				</div>
				<div class="coin">
					<span ng-click="toPage('deposit')">
						账户余额 ￥ <b ng-bind="user.money"></b>
						<img src="../../images/chongzhi.png" alt="">
					</span>
					<span ng-click="blocked()&&toPage('currency')">
						好货币 <b ng-bind="user.integral"></b>
					</span>
				</div>
			</div>
		</header>
		<div id="content" class="content">
			<div class="mbox">
				<a class="evaluation flex" ng-click="toPage('order')">
					<div class="eva-num flexOne">全部订单</div>
					<div class="index-img"></div>
				</a>
				<div class="order-box">
					<ul>
						<li>
							<a class="m" ng-click="toPage('order','orderType','1')">
								<img src="../images/wpay_00.png">
								<p>待付款</p>
							</a>
						</li>
						<li>
							<a class="m" ng-click="toPage('order','orderType','2')">
								<img src="../images/wrec_00.png">
								<p>待收货</p>
							</a>
						</li>
						<li>
							<a class="m" ng-click="toPage('Myraise')" class="m">
								<img src="../images/alltubiao.png">
								<p>我的众筹</p>
							</a>
						</li>
						<li>
							<a ng-click="toPage('refund')">
								<img src="../images/wrefund_00.png">
								<p>退款/退货</p>
							</a>
						</li>

					</ul>
				</div>
			</div>

			<div class="mbox">
			    <a class="evaluation flex" ng-click="toPage('prizes')">
					<div class="eva-num flexOne">我的赠品</div>
					<div class="index-img"></div>
				</a>
				
				<a class="evaluation flex" ng-click="toPage('coupon')">
					<div class="eva-num flexOne">我的优惠券</div>
					<div class="index-img"></div>
				</a>
				<a class="evaluation flex" ng-click="toPage('push')">
					<div class="eva-num flexOne">我的专属服务</div>
					<div class="index-img"></div>
				</a>
			</div>

			<div class="mbox">
				<!-- <a class="evaluation flex" ng-click="toPage('Myraise')">
					<div class="eva-num flexOne">我的众筹</div>
					<div class="index-img"></div>
				</a> -->
				<!-- <a class="evaluation flex" ng-click="toPage('luckyDraw')">
					<div class="eva-num flexOne">众筹蜂蜜抽奖</div>
					<div class="index-img"></div>
				</a> -->
				<a class="evaluation flex" ng-click="toPage('addressMan')">
					<div class="eva-num flexOne">收货地址管理</div>
					<div class="index-img"></div>
				</a>
			</div>

			<div class="mbox">
			    <a class="evaluation flex" ng-click="toPage('history')">
					<div class="eva-num flexOne">浏览历史</div>
					<div class="index-img"></div>
				</a>
				<a class="evaluation flex" ng-click="toPage('fav')">
					<div class="eva-num flexOne">我的收藏</div>
					<div class="index-img"></div>
				</a>
				<a class="evaluation flex" ng-click="toPage('feedback')">
					<div class="eva-num flexOne">我要吐槽</div>
					<div class="index-img"></div>
				</a>
				<!--a class="evaluation flex">
					<div class="eva-num flexOne">关于吉途旅游</div>
					<div class="index-img"></div>
				</a-->
				<!--a class="evaluation flex">
					<div class="eva-num flexOne">分享吉途旅游</div>
					<div class="index-img"></div>
				</a-->
			</div>

			<div class="evaluation eva-phone">
			    <div class="iHeight">
			    	<span class="phone-left"><img src="../../images/kefu@2x.png"></span>
				    <span class="phone-right">
				    	<p class="phone-num">
							<a href="tel:400-7777-927">400-7777-927</a>					
						</p>
						<span>8:30-20:30(周一至周日)</span>
				    </span>
			    </div>
			</div>

			<footer class="nav-box">
		        <ul class="flex">
		          <li class="flexOne">
		            <a  href="/index.html">
		              <img src="../../images/v1.2/home@2x.png">
		              <p class="nav-choice">首页</p>
		            </a>
		          </li>
		          <li class="flexOne">
		            <a href="/html/classification.html">
		              <img src="../../images/v1.2/fenlei@2x.png">
		              <p class="nav-choice">分类</p>
		            </a>
		          </li>
		          <li class="flexOne">
		            <a href="/html/cart/cart.html">
		              <img src="../../images/v1.2/cart@2x.png">
		              <p>购物车</p>
		            </a>
		          </li>
		          <li class="flexOne">
		            <a href="/html/user/personalCenter.html">
		              <img src="../../images/v1.2/my-2@2x.png">
		              <p class="colorYe">我</p>
		            </a>
		          </li>
		        </ul>
			</footer>

		</div>

	</div>

  <div class="msgBox" ng-show="page.msg" style="display:none">
    <div class="wrap">
      <h3>尚未登陆，请先登陆再进行其他操作！</h3>
      <div class="btnBox">
        <a class="btn btnCancle" ng-click="page.msg=!page.msg">取消</a>
        <a class="btn btnSure" ng-click="page.msgBtn()">确定</a>
      </div>
    </div>
  </div>

  <message></message>

</body>
</html>