<extend name="Common:base" />
<block name="content">
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">当前位置：导航设置 -- 首页一级导航</div>
        </div>
        <div class="portlet-body">
            <div class="clearfix">
                <div class="btn-group">
                    <!-- <MyTag:rule name="Nav/edit">
                    <a class="btn green" href="{:U('Nav/edit')}">
                        添加导航&nbsp;<i class="icon-plus"></i>
                    </a>
                    </MyTag:rule> -->
                </div>
				 <div class="btn-group">
                    <!-- <MyTag:rule name="Nav/del">
                        <button url="{:U('Nav/del')}" class="btn green tag-del">删除</button>
                    </MyTag:rule> -->
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>选项</th>
                        <th>编号</th>
                        <th>导航名称</th>
                        <th>关联分类</th>
                        <th>排序</th>
                        <th>是否启用</th>
                        <th>图标</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="lists" id="vo">
                    <tr>
                        <td><input type='checkbox' value="{$vo.nav_id}" name='nav_id[]' class='nav_check'/></td>
                        <td>{$vo.nav_id}</td>
                        <td>{$vo.name}</td>
                        <!-- <td>
                            <a href="{:U('edit',['nav_id'=>$vo['nav_id']])}">{$vo.name}</a>
                        </td> -->
                        <td>{$vo.cate_name}</td>
                        <td>{$vo.sort}</td>
                        <td>{$vo.status|getStatus}</td>
						<td><img style="width:80px;height:40px;" src="{$vo.pic}" /></td>
                        <td>
                            <MyTag:rule name="Nav/edit">
                                <a class="btn blue-stripe" href="{:U('edit',['nav_id'=>$vo['nav_id']])}">编辑</a>
                            </MyTag:rule>
                        </td>
                    </tr>
                    </volist>
                </tbody>
            </table>
           <div class="row-fluid">
                <div class="btn-group">
                   
                </div>
                <div class="pagination pull-right">
                    <ul>{$_page}</ul>               
			     </div>
            </div>
        </div>
    </div>
</div>
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/nav/navController'],function(main){
            main.index();
        });
    </script>
</block>