<extend name="Common:base" />
<block name="content">
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption"><empty name="Think.get.id">添加<else/>编辑</empty>店员</div>
        </div>
        <div class="portlet-body form">
            <form id="user_edit" action="{:U('add_mod')}" method="post" class="form-horizontal">
            <div class="control-group">
                <label class="control-label">所属门店:</label>
                <div class="controls">
                    <empty name="stores_id">
                        <select name="stores_id">
                            <volist name="stores_lists" id="stores_vo">
                            <option value="{$stores_vo.stores_id}" <eq name="stores_vo.stores_id" value="$info.stores_id">selected</eq>>{$stores_vo.name}</option>
                            </volist>
                        </select>
                    <else/>
                        <input type="text" name="stores_name" class="m-wrap" value="{$info.name}" disabled/>
                        <input type="hidden" name="stores_id" class="m-wrap" value="{$info.stores_id}"/>
                    </empty>
                    <input type="hidden" name="uid" value="{$info.uid}" />
                    <input type="hidden" name="id" value="{$info.id}" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">帐号:</label>
					<div class="controls">
						<input type="text" name="username" class="m-wrap" value="{$info.username}" />
					</div>
		   </div>
		   
            <div class="control-group">
                <label class="control-label">真实姓名:</label>
                    <div class="controls">
                        <input type="text" name="nickname" class="m-wrap" value="{$info.nickname}" />
                    </div>
           </div>
           
            <div class="control-group">
                <label class="control-label">联系电话:</label>
                <div class="controls">
                    <input type="text" name="mobile" class="m-wrap" value="{$info.mobile}" />
                </div>
           </div>

          <div class="control-group">
                <label class="control-label">性别:</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="sex" value="1" <eq name="info.sex" value="1">checked</eq>/>
                        男
                    </label>
                    <label class="radio">
                        <input type="radio" name="sex" value="2" <eq name="info.sex" value="2">checked</eq>/>
                        女
                    </label>
                </div>
            </div>
           
            <div class="control-group">
                <label class="control-label">邮箱:</label>
                    <div class="controls">
                        <input type="text" name="email" class="m-wrap" value="{$info.email}" />
                    </div>
          </div>
          
        <div class="control-group">
                <label class="control-label">状态</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="status" value="0" <eq name="info.status" value="0">checked</eq>/>
                        禁用
                    </label>
                    <label class="radio">
                        <input type="radio" name="status" value="1" <eq name="info.status" value="1">checked</eq>/>
                        启用
                    </label>
                </div>
            </div>
            
       <notempty name = 'Think.get.expand'> 
	         <div class="control-group">
	                <label class="control-label">密码:</label>
	                    <div class="controls">
	                        <input type="password" name="password" class="m-wrap" value="" />
	                    </div>
	          </div>
	         
	         
	        <div class="control-group">
	                <label class="control-label">确认密码:</label>
	                    <div class="controls">
	                        <input type="password" name="confirmPassword" class="m-wrap" value="" />
	                    </div>
	          </div>
          </notempty>
			<div class="form-actions">
                <button type="submit" class="btn blue">提交</button>
                <a class="btn" href="{:U('index')}">返回</a>
            </div>
            </form>
        </div>
    </div>
</div>
</block>
<block name="js">
    <script type="text/javascript">
      seajs.use(['controller/stores/StoresMemberController'],function(main){
        main.add_mod();
      });
    </script>
</block>