@charset "utf-8";
.view .cover{
	display:block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: #f1f1f6;
  	background-image: url(../../images/loading.gif);
  	background-size:25%;
  	background-position: center center;
  	background-repeat:no-repeat;
}

.header-box .container { padding: 0; }
.view .content{
	padding-bottom: 60px;
}
.view .content .title{
	height: 120px;
    margin: 20px;
    background: url(../../images/commodity/bg@2x.png) repeat bottom center;
    /*background-size: cover;
    background-repeat: no-repeat;*/
    text-align: center;
}
.view .content .title .name{
	padding: 30px 10px 20px 10px;
	color: #404040;
	font-size: 16px;
	height:33px;
	text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
	margin-bottom: 15px;
}
.view .content .title .price{
	font-size: 18px;
	color: #ff5a4d;
}
.view .content .title i{
	font-size: 11px;
	color: #808080;
}

.view .content .time{
    width: 100%;
    background-color: #fff;
    padding: 0 12px;
    height: 44px;
    line-height: 44px;
    font-size: 13px;
    color: #808080;
    border-bottom: 1px solid #eee;
}

.view .content .time .start_time{
	float: right;
	color:#ff3600;
}
.view .content .people{
    width: 100%;
    background-color: #fff;
    padding: 0 12px;
    height: 44px;
    line-height: 44px;
    font-size: 13px;
    color: #808080;
    border-bottom: 1px solid #eee;
    margin-top: 8px;
}
.view .content .chooseP{
    width: 100%;
    background-color: #fff;
    padding: 0 12px;
    height: 44px;
    line-height: 44px;
    font-size: 15px;
    color: #202020;
    border-bottom: 1px solid #eee;
}
.view .content .chooseP i{
	color: #ff6c00;
}
.view .content .chooseP small{
	font-size: 11px;
	color: #909090;
}
.view .content .chooseP .right{
	float: right;
}
.view .content .chooseP .right em{
	padding: 0 8px;
}
.view .content .note{
	padding: 20px 12px;
	color: #606060;
	font-size: 11px;
	line-height: 20px;
}
.view .content .details{
    margin-top: 10px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}
.view .content .details table{
	width: 100%;
	font-size: 15px;
	color: #404040;
}
.view .content .details table td{
	width: 50%;
	padding: 20px;
}
.view .content .details table thead td{
	padding-bottom: 0;
}
.view .content .details p{
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 13px;
	color: #404040;
	background-color: #e8eaec;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.view .content .more{
	/*margin-bottom: 20px;*/
}
.view .content .more p{
	width: 100%;
	height:30px;
	text-align:center;
	line-height:30px;
}
.view .content .introduce{
	margin-top: 8px;
	width: 100%;
}
.view #top.a{
	display: none;
	max-width: 1024px;
}
.view #top.b{
	display: block;
	position: fixed;
	top: 44px;
	z-index: 100;
	width: 100%;
	max-width: 1024px;
	height:52px;
	background-color:#f1f1f6;
}
.view #top .top{
	width: 100%;
	text-align: center;
	height: 44px;
	line-height: 41px;
	background-color: #fff;
}
.view #top .top a{
	display:block;
	float: left;
	width:25%;
	color:#202020;
	font-weight: 600;
}
.view #top .top a.active{
	color:#1bb297;
	border-bottom:3px solid #1bb297;
}
.view #content2.PT88{
	padding-top: 88px;
}
.view .content .tip{margin-top: 8px;overflow: hidden;}
.view .content .tip p{
	margin: 0 4px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e0e0e0), to(#e2e2e2));
}
.view .content .introduce{
	margin-bottom: 300px;
}
.view .content .introduce .item{
	margin: 8px 4px 0;
	padding: 16px 0;
	background-color: #fff;
	box-shadow: 0px 0px 2px #c6c6c6;
}
.view .content .introduce .item .small{
	font-size: 13px;
	line-height: 20px;
	color: #606060;
}
.view .content .introduce .item h2{
	padding-top: 14px;
	font-size: 18px;
	color: #202020;
	margin: 0 0 20px;
	text-align: center;
}
.view .content .introduce .item p{
	margin-bottom: 10px;
}
.view .content .introduce .item p p{
	margin-bottom: 0;
}
.view .content .introduce .item_1 .feature{
	padding: 0 8px;
}
.view .content .introduce .item_1 .feature .small p:first-child{
	text-indent: 2em;
}
.view .content .introduce .item_1 p{
	font-size: 13px;
	line-height: 20px;
}
.view .content .introduce .item_1 .icon_circle{
	display: inline-block;
	width: 12px;
	height: 18px;
	background-image: url(../../images/commodity/circle.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 50%;
}
.view .content .introduce .item_1 img{
	width: 100%;
}
.view .content .introduce .item_2 .days{
	padding: 0 8px 16px;
}
.view .content .introduce .item_2 .days .small p:first-child{
	text-indent: 2em;
}
.view .content .introduce .item_2:last-child{
	padding-bottom:0;
}
.view .content .introduce .item_2 h3{
	margin: 0 0 20px;
	line-height: 40px;
	font-size: 16px;
	background-color: #e9f1f7;
	text-align: center;
}
.view .content .introduce .item_2 i{
	display: inline-block;
	width: 40px;
	height: 20px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 50%;
	vertical-align: middle;
}
.view .content .introduce .item_2 i.icon_car{
	background-image: url(../../images/commodity/car.png);
}
.view .content .introduce .item_2 i.icon_food{
	background-image: url(../../images/commodity/food.png);
}
.view .content .introduce .item_2 i.icon_hotel{
	background-image: url(../../images/commodity/hotel.png);
}
.view .content .introduce .item_2 .days img{
	width: 100%;
}
.view .content .introduce .item_3 .travel_costs{
	padding: 0 8px;
}
.view .content .introduce .item_3 p{
	font-size: 15px;
	line-height: 20px;
}
.view .content .introduce .item_3 p span{
	color: #202020;
}
.view .content .introduce .item_3 img{
	width: 100%;
}
.view .content .introduce .item_4 .reminders{
	padding: 0 8px;
}
.view .content .introduce .item_4 .reminders .small p:first-child{
	display: none;
}
.view .content .introduce .item_4 p{
	font-size: 13px;
	line-height: 20px;
}
.view .content .introduce .item_4 img{
	width: 100%;
}
.view .toTop{
	position: fixed;
    bottom: 58px;
    right: 8px;
}
.view footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 1024px;
}
.view footer nav{
	width: 100%;
	height: 49px;
	line-height: 49px;
	font-size: 16px;
	text-align: center;
}
.view footer nav .service{
	width: 40%;
	color: #fff;
	background-color: #00bc9f;
}
.view footer nav .service img{
	width: 22px;
	height: 22px;
	display: inline-block;
	margin-right: 5px;
}
.view footer nav .reservation{
	width: 60%;
	color: #fff;
	background-color: #ff6c00;
}
.view .msgBox .consulting_service{
	position: absolute;
    bottom: -321px;
    left: 0;
	height: 321px; 
    width: 100%;
	background-color: #fff; 
}
.view .msgBox .consulting_service .costDetail{
	height: 42px;
	line-height: 42px;
	padding: 0 12px;
	border-bottom: 1px solid #eee;
	margin: 0;
}
.view .msgBox .consulting_service .costDetail span{
	font-size: 11px;
	color: #909090;
	float: left;
}
.view .msgBox .consulting_service .costDetail img{
	float: right;
	line-height: 42px;
	margin: 14px 0;
}
.view .msgBox .consulting_service .costList{
	padding: 0 12px;
	margin: 0;
}
.view .msgBox .consulting_service .costList p{
	border-bottom: 1px solid #eee;
	height: 46px;
	line-height: 46px;
	margin: 0;
	position: relative;
}
.view .msgBox .consulting_service .costList p .left{
	font-size: 15px;
	color: #202020;
	float: left;
}
.view .msgBox .consulting_service .costList p .middle{
	font-size: 13px;
	color: #606060;
	position: absolute;
	right: 120px;
}
.view .msgBox .consulting_service .costList p .right{
	font-size: 15px;
	color: #ff6c00;
	float: right;
}
.view .msgBox .consulting_service .costList p i{
	color: #00bc9f;
}
.view .msgBox nav{
	width: 100%;
	height: 49px;
	line-height: 49px;
	font-size: 16px;
	text-align: center;
}
.view .msgBox nav .costTotal{
	width: 40%;
	color: #fff;
	background-color: #00bc9f;
}
.view .msgBox nav .costTotal img{
	width: 22px;
	height: 22px;
	display: inline-block;
	margin-right: 5px;
}
.view .msgBox nav .reservation{
	width: 60%;
	color: #fff;
	background-color: #ff6c00;
}
.view .msgBox #bgNone{
	width: 100%;
	height: 100%;
	position: relative;
}


.kecalc .kcalcr .kecln-controls{position:relative;font-size:0.8em;text-align:center;background:#e6ecef;}
.kecalc .kcalcr .month{text-align: center;font-size: 18px;line-height: 50px;height: 50px;background-color: #fff;}
.kecalc .ke_calc_next{position:absolute;right:20px;top:14px;width:22px;height:22px;background:url(../../images/commodity/icon_enter@2x.png) no-repeat center;cursor:pointer;background-size: 100%;}
.kecalc .ke_calc_prev{position:absolute;left:20px;top:14px;width:22px;height:22px;background:url(../../images/commodity/icon_return_sel@2x.png) no-repeat center;cursor:pointer;background-size: 100%;}
.kecalc .kcalcr .kecalc_box{background:#fff;}
.kecalc .kcalcr .kecln-table{table-layout:fixed;width:100%;margin:0 auto;border-collapse:collapse}
.kecalc .kcalcr .kecln-table tbody{color: #a69c9c;}
.kecalc .kcalcr .kecln-table .header-days{font-size:0.85em;font-weight:600;}
.kecalc .kcalcr .kecln-table .header-days .header-day{vertical-align:middle;text-align:center;font-size:11px;height: 33px;border: none;background-color: #e8eaec;}
/*.kecalc .kcalcr .kecln-table tr{height:36px;}*/

.kecalc .kcalcr .kecln-table tr td{border:1px solid #e6ecef;transition:all 0.3s;cursor:pointer;font-size:14px;}
/*.kecalc .kcalcr .kecln-table tr td:hover{background:#00bc9f;color: #fff;}*/
.kecalc .kcalcr .kecln-table tr td p{margin: 0;}
.kecalc .kcalcr .kecln-table tr td p.top{font-size: 8px;text-align: right;padding: 2px;height: 15px;color: #ff6c00;}
.kecalc .kcalcr .kecln-table tr td p.bottom{font-size: 8px;padding: 2px;height: 15px;}
/*.kecalc .kcalcr .kecln-table tr td:hover{background:#000;color:#fff;}*/
/*.kecalc .kcalcr .kecln-table tr .day.today{background:#eee;}*/
.kecalc .kcalcr .kecln-table tr .has:hover{background:#00bc9f;}
.kecalc .kcalcr .kecln-table tr .day{width:100%;height:inherit;vertical-align:middle;}
.kecalc .kcalcr .kecln-table tr .day.empt{opacity:0}
/*.kecalc .kcalcr .kecln-table tr .day.empt:hover{background:none}*/
/*.kecalc .kcalcr .kecln-table tr .day.today{color:#FFFFFF!important;text-decoration:none;background:#333;}*/
.green{background:#00bc9f;}

/*#date1{width:320px;margin:10px auto}*/
.selected{display: none;}
.selecteds{display: none;}
.reservation a{color:#ffffff;}
.beijinss{display:none;z-index:9999;}
.allwidths{width:100%;}
.allwidth{width:100%;background:#ffffff;position:fixed;z-index: 99999;bottom:-35%;left:0px;margin-bottom: 48px;}
.clockss{color:#ffffff;line-height:1.0;}
.cpcstitle{height:40px;line-height:40px;text-align:left;color:#202020;font-size:13px;position:absolute;top:0px;left:0px;background:#ffffff;font-weight: bold;border-bottom:1px solid #CACBCD;padding-left:12px;}
.cpcstitle a{position:absolute;right:5px;top:5px;}
.cpcstitle button{position:absolute;right:5px;top:5px;}
.cpcstitle a img{width:22px;height:22px;}

.moneylist{width:100%;overflow:auto;padding-top:40px;padding-left:12px;}
.moneylist-ul{height:46px;border-bottom:1px solid #E2E2E2;width:100%;text-align: left;line-height:45px;}
.moneylist-ul p{float:right;padding:0px;margin:0px;padding-right:12px;width:40%;}
.moneylist-ul p span{float:right;color:#FF6C00;}