<extend name="Common:base" />
<block name="content">
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption"><empty name="info.id">添加<else/>编辑</empty>支付方式</div>
        </div>
        <div class="portlet-body form">
            <form id="user_edit" action="{:U('Payment/update')}" method="post" class="form-horizontal">
            <div class="control-group">
                <label class="control-label">支付方式名称<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" name="name" class="m-wrap" value="{$info.name}"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">支付方式编号<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" name="code" class="m-wrap" value="{$info.code}"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">类型</label>
                <div class="controls">
                    <select class="m-wrap" name="type">
                        <volist name="type_lists" id="vo">
                            <option value="{$key}" <eq name="info.type" value="$key">selected</eq>>{$vo}</option>
                        </volist>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">图片<span class="required">*</span></label>
                <div class="controls"  style="position:relative;">
                    <span style="color:red;position:absolute;top:2px;left:80px;display:block;">上传图片尺寸127x36</span>
                    <MyTag:plupload type="one" id="photo" name="photo" attachment="info.photo"/>
                    <input type="hidden" id="photo_vaild" name="photo_vaild" class="m-wrap" value=""/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">状态</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="status" value="0" <eq name="info.status" value="0">checked</eq>/>
                        禁用
                    </label>
                    <label class="radio">
                        <input type="radio" name="status" value="1" <empty name="info.id">checked<else/><eq name="info.status" value="1">checked</eq></empty>/>
                        启用
                    </label>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">备注</label>
                <div class="controls">
                    <textarea class="span6 m-wrap" rows="3" name="remark">{$info.remark}</textarea>
                </div>
            </div>

            <div class="form-actions">
                <input type="hidden" name="id" value="{$info.id}"/>
                <button type="submit" class="btn blue">提交</button>
                <a class="btn" href="{:U('Payment/index')}">返回</a>
            </div>
            </form>
        </div>
    </div>
</div>
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/payment/paymentController'],function(admin){
            admin.edit();
        });
    </script>
</block>