<extend name="Common:base"/>
<block name="content">
    <style>
        .price_left {
            float: left;
            width: 120px;
            height: auto;
        }

        .price > div {
            margin-bottom: 5px;
        }

        .discount {
            margin-bottom: 10px;
        }
    </style>
    <div class="row-fluid">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">促销活动 -- 会员促销 -- 第三人打折</div>
            </div>
            <div class="portlet-body form">
                <form autocomplete="off" id="user_edit" action="{:U('Promotions/update')}" method="post"
                      class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">活动名称<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" name="promotions_name" class="m-wrap" value="{$info.promotions_name}"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">促销范围及立减金额</label>
                        <div class="controls price">
                            <input type="checkbox" name="ordinary_state"
                            <eq name="info.ordinary_state" value="1">checked</eq>
                            ><span>普通会员</span>
                            <input type="checkbox" name="one_state"
                            <eq name="info.one_state" value="1">checked</eq>
                            ><span>个人VIP会员</span>
                            <input type="checkbox" name="family_state"
                            <eq name="info.family_state" value="1">checked</eq>
                            ><span>家庭VIP会员</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">人数限制条件<span class="required">*</span></label>
                        <div class="controls">
                            <span class="help-inline">出游人数满</span>
                            <input type="text" name="travel" class="m-wrap"
                                   value="<empty name='info.travel'>0<else />{$info.travel}</empty>"
                                   style="width: 50px"/><span class="help-inline">人，则可以享受以下优惠</span><span
                                class="help-inline" style="color:red;">（输入条件：正自然数（包括0）</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">促销时间</label>
                        <div class="controls">
                            <div class="input-append date date-picker start_time">
                                <input name="start_time" type="text" id="start_time"
                                       class="span9 start_time m-wrap m-ctrl-medium date-picker" readonly="" size="16"
                                       value="<empty name='info.start_time'>{:date('Y-m-d')}<else/>{$info.start_time|date='Y-m-d',###}</empty>">
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                            ~
                            <div class="input-append date date-picker end_time ">
                                <input name="end_time" type="text" id="end_time"
                                       class="span9 end_time m-wrap m-ctrl-medium date-picker" readonly="" size="16"
                                       value="<notempty name='info.end_time'>{$info.end_time|date='Y-m-d',###}</notempty>">
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                            <input type="button" name="sel_times" style="width: 1px;height: 1px;border: none">
                        </div>
                    </div>
                    <div class="control-group discounts">
                        <label class="control-label">优惠条件<span class="required">*</span></label>
                        <empty name="price">
                            <div class="controls discount">
                                <span class="help-inline">当产品单价在</span>
                                <input type="text" name="min_price[]" class="m-wrap"
                                       value="<empty name='info.number'>0<else />{$info.number}</empty>"
                                       style="width: 50px"/>~
                                <input type="text" name="man_price[]" class="m-wrap"
                                       value="<empty name='info.number'>0<else />{$info.number}</empty>"
                                       style="width: 50px"/>
                                <span class="help-inline">之间，则价格最低的游客享受</span>
                                <input type="text" name="discount[]" class="m-wrap"
                                       value="<empty name='info.number'>0<else />{$info.number}</empty>"
                                       style="width: 50px"/>
                                <span class="help-inline">折</span>
                                <a class="btn green discount_add">
                                    <i class="icon-plus"></i>
                                </a>
                            </div>
                            <else/>
                            <volist name="price" id="vo" mod="$num">
                                <div class="controls discount">
                                    <span class="help-inline">当产品单价在</span>
                                    <input type="text" name="min_price[]" class="m-wrap"
                                           value="<empty name='vo.min_price'>0<else />{$vo.min_price}</empty>"
                                           style="width: 50px"/>~
                                    <input type="text" name="man_price[]" class="m-wrap"
                                           value="<empty name='vo.man_price'>0<else />{$vo.man_price}</empty>"
                                           style="width: 50px"/>
                                    <span class="help-inline">之间，则价格最低的游客享受</span>
                                    <input type="text" name="discount[]" class="m-wrap"
                                           value="<empty name='vo.discount'>0<else />{$vo.discount}</empty>"
                                           style="width: 50px"/>
                                    <span class="help-inline">折</span>
                                    <eq name="mod" value="0">
                                        <a class="btn green discount_add">
                                            <i class="icon-plus"></i>
                                        </a>
                                        <else/>
                                        <a class="btn green discount_del">
                                            <i class="icon-minus"></i>
                                        </a>
                                    </eq>

                                </div>
                            </volist>
                        </empty>

                    </div>
                    <div class="control-group">
                        <label class="control-label">每个用户限制享受次数<span class="required">*</span></label>
                        <div class="controls">
                            <input type="text" name="number" class="m-wrap"
                                   value="<empty name='info.number'>0<else />{$info.number}</empty>"/><span
                                class="help-inline">次</span><span class="help-inline" style="color:red;">(-1表示无限)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">是否启用</label>
                        <div class="controls">
                            <label class="radio">
                                <input type="radio" name="state" value="2"
                                <eq name="info.state" value="2">checked</eq>
                                />
                                禁用
                            </label>
                            <label class="radio">
                                <input type="radio" name="state" value="1"
                                <empty name="info.promotions_id">checked
                                    <else/>
                                    <eq name="info.state" value="1">checked</eq>
                                </empty>
                                />
                                启用
                            </label>
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="hidden" name="promotions_type" value="2"/>
                        <input type="hidden" name="id" value="{$info.promotions_id}"/>
                        <button type="submit" class="btn blue">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--选择商品END-->

</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/promotions/promotionsController'], function (promotions) {
            promotions.discount();
        });
    </script>
</block>