.container {
	padding: 0px;
}
.header-pic {
	height: 290px;
}
.header-pic .filter {
	width: 100%;
}
.header-pic .filter em {
 	/*width: 44%;*/
}
.header-pic .filter a {
	/*width: 56%;*/
}
.header-pic img {
	padding: 20px 25px 0px 15px; 
	width: 100%;
}

.header-pic .filter span {
	width: 100%;
	display: inline-block;
	padding-top: 80px;
	font-size: 50px;
	color: #BF241A;
	font-family: "谐体";
	font-style: italic;
}
.content-pic {
	background-color: #fdb50e;
	position: relative;
	margin: 0 20px 60px 20px;
}
.setColor {
	background-color: #cccccc;
}
.content-left {
	display: inline-block;
	width: 80%;
}
.content-left h2 {
	font-family: "谐体";
	font-style: italic;
	font-family: fantasy;
	font-weight: bolder;
	padding-left: 20px;
}
.content-left i {
	font-size: 22px;
	padding-left: 20px;
	font-family: "微软雅黑"
}
.content-left p {
	padding-left: 20px;
	font-size: 22px;
	font-family: "微软雅黑"
}.content-left em {
	
}.content-left span {
	padding-left: 65px;
}
.content-right {
	display: inline-block;
}
.content-right p {
	position: absolute;
	right: 8px ;
	top: 10px;
}
.content-right span {
	padding: 6px 14px;
	background-color: #bf241a;
	color: #fff;
	border-radius: 6px;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	right: 28px;
	bottom: 10px;
}

.below-pic img {
	width: 100%;
}


















.flex {
	display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.flexOne {
	box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}














