@charset "utf-8";
.view .content{
	padding: 44px 12px 0;
}
.view .inputBox{
	margin-top: 20px;
	background-color: #fff;
	width:100%;
}
.view .lineGroup:last-child{
	border: none;
}
.view .inputBox .lineGroup span{
	/*width: 84px;*/
	padding-right: 16px;
}
.view .inputBox .lineGroup i{
	display: block;
	width:22px;
	margin-right: 12px;
}
.view .inputBox .lineGroup i.i_show{
	background-image: url(../images/user/icon_eye_del@2x.png);
	background-size:100%;
	background-position: 50%;
	background-repeat:no-repeat ;
}
.view .inputBox .lineGroup i.i_hide{
	background-image: url(../images/user/icon_eye_sel@2x.png);
	background-size:100%;
	background-position: 50%;
	background-repeat:no-repeat ;
}
.view .btns{
	padding: 0;
}

