.view .content.container { padding: 0; }
.view .content p { margin: 0; }
.view .content >* { padding: 0 16px; }
.view .content h3 { color: #666; font-size: 16px; }

.view .content .proposalBox { padding: 0; padding-bottom: 16px; background-color: #fff;box-shadow:  0 0 2px #999 inset }
.view .content .proposalBox div { margin: 0 auto;padding-top: 16px;overflow: hidden; }
.view .content .proposalBox span { padding: 0 4px; display: block; text-align: center; margin-top: 8px; float: left; }

.view .content .proposalBox span a {
font-size: 12px;
 border: 1px solid #ccc; height: 100%; width: 100%; padding: 4px 8px; display: inline-block; color: #333; }
.view .content .proposalBox span.active a { background-color: #ff8400; border-color: #ff8400; color: #fff; }

.view .content .fbContent { background-color: #fff; box-shadow:  0 0 2px #999 inset}
.view .content .fbContent textarea { width: 100%; height: 96px; resize: none; padding: 8px 0; border: none; background-color: transparent;}

.view .content .contact { background-color: #fff; box-shadow:  0 0 2px #999 inset}
.view .content .contact input { width: 100%; resize: none; padding: 8px 0; border: none; background-color: transparent;}

.view .content .submit { background-color: #fff; box-shadow: 0 0 2px 0 #999; margin-top: 16px; background-color: #ff8400; }
.view .content .submit a.btn { width: 100%; resize: none; padding: 8px 0; border: none; color: #fff;border-radius: 0;}
