@charset "utf-8";
.view .content{
	padding: 44px 12px 0;
}
.view .inputBox{
	position: relative;
	background-color: #fff;
	width:100%;
}
.view .lineGroup:last-child{
	border: none;
}
.view .inputBox .lineGroup i{
	display: block;
	width:17px;
	margin-right: 20px;
}
.view .inputBox .lineGroup a{
	position: absolute;
    bottom: 11px;
    right: 16px;
    white-space: nowrap;
    color: #fff;
    font-size: 11px;
    width: 70px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 10px;
    background-color: #00bc9f;
}
.view .inputBox .lineGroup .active{
	color: #909090;
	border: 1px solid #909090;
	background-color: #fff;
}
.view .inputBox .lineGroup i.i_phone{
	background-image: url(../images/user/icon_numble@2x.png);
	background-size:100%;
	background-position: 50%;
	background-repeat:no-repeat ;
}
.view .inputBox .lineGroup i.i_msg{
	background-image: url(../images/user/icon_lock@2x.png);
	background-size:100%;
	background-position: 50%;
	background-repeat:no-repeat ;
}
.view .btns{
	padding:0 16apx;
}
