.view .header-box .add{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 15px;
    /*font-weight: 600;*/
}
.view .content .borderD5{
	border-bottom: 1px solid #D5D5D5;
}
.view .content .btns{
	position: fixed;
    bottom: 0;
    max-width: 1024px;
}
.view .lineGroup{
	background-color: #fff;
	/*margin-top: 8px;*/
	/*border-top: 1px solid #D5D5D5;*/
	border: none;
	height: 54px;
	line-height: 54px;
}
.view .lineGroup input,select,form{
	opacity: 1;
	color: #606060;
	height: 52px;
	margin: 0;
}
.view .lineGroup form{
	width: 50%;
	display: inline-flex;
	display: -webkit-inline-flex;
	display: -webkit-box;
	display: -moz-inline-box;
	display: -ms-flexbox;
}
.view .lineGroup form input.nocheck{
	width: 44px;
	background-image: url(../../images/user/icon_round_def@2x.png);
	background-size: 50%;
	background-position: left center;
	background-repeat: no-repeat;
}
.view .lineGroup form input.checked{
	width: 44px;
	background-image: url(../../images/user/icon_choose_sel@2x.png);
	background-size: 50%;
	background-position: left center;
	background-repeat: no-repeat;
}
.view .lineGroup img{
    display: block;
    float: right;
    margin: 16px 12px;
}

.view .lineGroupE{
    width: 100%;
	background-color: #fff;
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #e2e2e2;
}
.view .lineGroupE:last-child{
	border: none;
}
.view .lineGroupE span.name{
	width: 75px;
	padding-left: 10px;
	overflow: hidden;
    margin-right: 10px;
}
.view .lineGroupE .info p{
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	color: #202020;
}
.view .lineGroupE .info img{
	margin-left: 4px;
}
.view .lineGroupE .delete{
	margin: 24px 0 24px 12px;
	display: none;
}

.view .lineGroupE input,select{
	opacity: 1;
	color: #606060;
	height: 52px;
	margin: 0;
}
.view .lineGroupE i.i_edit{
	margin:0 12px;
	background-image: url(../images/user/icon_enter@2x.png);
	background-size:100%;
	background-repeat:no-repeat ;
	width:6px;
	background-position: center;
}

.view .lineGroup i.i_add{
	margin:0 16px;
	background-image: url(../images/user/icon_+.png);
	background-size:100%;
	background-repeat:no-repeat ;
	width:22px;
	background-position: center;
}
.view .lineGroup i.i_delete{
	margin:0 16px;
	background-image: url(../images/user/icon_－.png);
	background-size:100%;
	background-repeat:no-repeat ;
	width:22px;
	background-position: center;
}
.view .lineGroup span.type{
	width: 88px;
	padding: 0 20px 0 12px;
}
.view .content .nopassenger{
	margin: 110px auto 0;
	text-align: center;
}
.view .content .nopassenger img{
	margin: 0 auto 20px;
	display: block;
}
.view .content .nopassenger p{
	font-size: 12px;
	color: #808080;
}
/*.USER_AGE{
	position: relative;
    top: -1px;
}*/