.view .lineGroup{
	background-color: #fff;
}
.view .photo{
	height:100px;
	line-height: 100px;
}
.view .photo img{
	width: 70px;
	height: 70px;
	border-radius: 35px;
}
.view .lineGroup img {
    margin: 7.5px 12px;
}
.view .lineGroup i.i_enter{
	margin:0 12px 0 4px;
}
.view .lineGroup span.con{
	text-align: right;
}
.view .lineGroup span.tip{
	font-size: 12px;
	color: #606060;
}
.view .btns{
	margin-top: 20px;
}
.view .btns .btnWhite{
	background-color: #fff;
	font-size: 14px;
	font-weight: 400;
	border-radius: 0;
}
