.password{
	height: 115px;
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.password input{
    width: 312px;
    height: 45px;
    /*letter-spacing: 37px;*/
    padding-left: 18px;
    background-image: url(../images/user/box_90px@2x.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: -133px;
}
.password p{
	font-size: 11px;
	color: #202020;
	padding: 20px 0;
}
.btns{
	padding: 0 12px;
}
