@charset "utf-8";
.view .content{
	padding: 44px 12px 0;
}
.view .inputBox{
	margin-top: 20px;
	padding:0 16px;
	background-color: #fff;
	width:100%;
}
.view .lineGroup:last-child{
	border: none;
}
.view .inputBox .lineGroup span{
	padding-right: 16px;
}
.view .inputBox .lineGroup i{
	display: block;
	width:50px;
	margin-top: 13px;
}
.view .inputBox .lineGroup i.i_show{
	background-image: url(../images/user/btn_password_show.png);
	background-size:100%;
	background-repeat:no-repeat ;
}
.view .inputBox .lineGroup i.i_hide{
	background-image: url(../images/user/btn_password_show—默认.png);
	background-size:100%;
	background-repeat:no-repeat ;
}
.view .btns{
	padding: 0;
}

