.view .content.container { padding: 0; }


.itemBox{
  background-color: #fff;
  box-shadow: 0 2px 2px 0 #ccc;

}
.itemBox .item,.itemBox .title{
  line-height: 56px;
  padding: 0 8px 0 16px;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
    
}
.itemBox .item i.arrow{
  background-image: url(/../../images/arrow-right.png);  
  background-repeat: no-repeat;
  background-size: auto 16px;
  background-position: center;
  padding-left:16px;
  width: 28px;
}
.itemBox .item:last-child{
  border-bottom-width: 0;
}


.itemBox .item span.text{
  padding-left: 8px;
 -webkit-box-flex:1;
  flex: 1;
  -webkit-flex:1;;
  display: inherit;
  
}
.itemBox .item span.edit{
  color: #ff8400;
}
.itemBox .title span.text{
 
  -webkit-box-flex:1;
  flex: 1;
  -webkit-flex:1;  
}

.itemBox .title span.tips{
  color: #999;
  font-size: 12px;
  padding-right: 12px;
}
.itemBox em{
  margin-left: 8px;
  color: #ff8400;
  font-style: normal;
}

.submit{
  margin-top: 36px;
  padding: 0 16px;
}

.submit .btn{
  border-color: #ff8400;
  width: 100%;
  background-color: #ff8400;
  color: #fff;
  font-size: 16px;
  padding: 8px 0;
  box-shadow: 0 0 2px 0 #ff8400; 
}
.usersBox {
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 #ccc;
}
.usersBox .item {  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  line-height: 48px;
  border-bottom: 1px solid #eee;
}

.usersBox .item.avatar{
  line-height: 144px;
}

.usersBox .item:last-child {
  border-bottom-width: 0;
}

.usersBox .item .text {
  color: #999;
  width: 86px;
  padding-right: 16px;
  text-align: right;
  display: inline-block;
}
.usersBox .item .edit {
  -webkit-box-flex: 1;
  flex: 1;
  padding-right: 32px;
  position: relative;
  display: inherit;
  vertical-align: middle;
}
.usersBox .item img { border: 1px dashed #ddd; border-radius: 96px; box-shadow: 0 0 2px 0 #fff0da; height: 96px; margin: 16px; width: 96px; }
.usersBox .item div { line-height: 128px; text-align: center; color: #999; }
.usersBox .item select.edit { border-width: 0; background-color: #fff; }
.usersBox .item .edit input { padding: 0; border-width: 0; width: 100%; line-height: 20px; }
.usersBox .item .edit i {
  position: absolute;
  height: 36px;
  width: 48px;
  right: 0;
  top: 0;
  background-image: url(/../../images/fill.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 28px;
  background-color: #f1f1f1;
  display: none;
}
.usersBox .item.avatar .edit span {
  padding: 8px 16px;
}
.usersBox .item.avatar input { position: absolute; width: 100%; height: 100%; left: 0; top: 0; opacity: 0; }


.userBox .item span.text {
  padding-left: 32px;
  background-image: url(/../../images/uinfo.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 18px;
}
.securityBox  .item span.text {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 24px;
}
.securityBox  .item span.phone{
background-image: url(/../../images/phone.png);
}
.securityBox  .item span.login{
  background-image: url(/../../images/login.png);
}