<extend name="Common:base" />
<block name="content">
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">{$title}</div>
        </div>
        <div class="portlet-body form">
            <form id="form_validate" action="{:U('update')}" method="post" class="form-horizontal">
            <div class="control-group">
                <label class="control-label">配送名称<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" name="dw_delivery_way" class="m-wrap" value="{$info.dw_delivery_way}"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">配送代码<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" name="dw_code" class="m-wrap" value="{$info.dw_code}"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">配送说明</label>
                <div class="controls">
                   <textarea name = 'dw_remark' >{$info.dw_remark}</textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">是否启用</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="dw_status" value="0" <eq name="info.dw_status" value="0">checked</eq>/>
                        禁用
                    </label>
                    <label class="radio">
                        <input type="radio" name="dw_status" value="1"  <notempty name="info.dw_status" ><eq name="info.dw_status" value="1">checked</eq><else/>checked</notempty> />
                        启用
                    </label>
                </div>
            </div>

            <div class="form-actions">
                <input type="hidden" name="dw_id" value="{$info.dw_id}"/>
                <button type="submit" class="btn blue">提交</button>
                <a class="btn" href="{:U('index')}">返回</a>
            </div>
            </form>
        </div>
    </div>
</div>
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/delivery/deliveryController'],function(delivery){
           
        });
    </script>
</block>