<extend name="Quest:base"/>
<block name="css">
    <link rel="stylesheet" media="screen" href="__PUBLIC__/mobile/css/app-con.css?{$style_version}"/>
    <link rel="stylesheet" media="screen" href="__PUBLIC__/mobile/css/app-end.css?{$style_version}"/>
    <link rel="stylesheet" media="screen" href="__PUBLIC__/mobile/css/common.css?{$style_version}"/>
</block>
<block name="content">
    <div class="view">
        <!--头部-->
        <header>
            <div class="title-box">感谢您的参与</div>
        </header>
        <!--内容-->
        <div id="content">
            <img src="__PUBLIC__/mobile/images/end_00.jpg" />
            <p>马上进入吉途旅游拿到属于您的奖品吧！祝你好运！</p>
            <from>
                <a href="http://wap.koudaitong.com/v2/apps/wheel?alias=i0844hyw"><input type="submit" class="btn-sta" value="马上抽奖"></a>
            </from>
        </div>
        <!--/*尾部*/-->
        <footer>

        </footer>
    </div>
</block>