<extend name="Common:base" />
<block name="content">
    <style>
        .price_left {
            float: left;
            width: 120px;
            height: auto;
        }
        .price >div{
            margin-bottom: 5px;
        }
    </style>
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">促销活动  -- 会员中心 -- 会员积分规则</div>
        </div>
        <div class="portlet-body form">
            <form autocomplete = "off" id="user_edit" action="{:U('integral/set_integral')}" method="post" class="form-horizontal">

            <div class="control-group">
                <label class="control-label">消费额每满<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" name="consumption_integral" class="m-wrap" value="{$consumption_integral}"/><span class="help-inline">元 积1分 </span><span class="help-inline" style="color:red;"> (零头不计入积分)</span>
                </div>
            </div>
                <div class="control-group">
                    <label class="control-label">1积分抵扣<span class="required">*</span></label>
                    <div class="controls">
                        <input type="text" name="deductible" class="m-wrap" value="{$deductible}" disabled="disabled" /><span class="help-inline">元</span><span class="help-inline" style="color:red;"></span>
                    </div>
                </div>
            <div class="form-actions">
                <button type="submit" class="btn blue">提交</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!--选择商品END-->	
	
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/Integral/IntegralController'],function(promotions){
            promotions.set();
        });
    </script>
</block>