ul,li{list-style-type:none;}
a,a:link,a:visited{text-decoration:none;}

.tanchuss{background:#ffffff;width:600px;height:300px;display:none;position:fixed;top:300px;left: 300px;z-index: 999999;}
.tanchu{background:#F5F5F5;width:80%;height:auto;display:none;margin-top:20px;padding-bottom:20px;float:left;margin-top:20;margin-left:11%;}
.zzjs_net{position:fixed;top:0px;filter:alpha(opacity=90);opacity: 0.9;-moz-opacity: 0.9;background-color:#383737;z-index:20000;left:0px;display:none;width:100%;height:100%;}
.span-height{height: 30px;background:#43AEE4;color:#ffffff;padding:0px 10px;line-height: 30px;}
.span-height a{ float:right;line-height: 30px;}
.span-height a:hover{color:#ffffff;}
.span-margin{padding:0px;margin:0px;margin-top:10px;}
.span-margins{padding:0px;margin:0px;margin-top:10px;padding-left: 25px;}
.span-left{padding-left:25px;}
.searchss{margin:0px;padding: 5px;}
.sel-dizhi{margin-top: 20px;}
.sel-dizhi span{color: #828B90;}
.select-all{border-bottom: 1px solid #DCDCDC;padding-bottom: 5px;}
.select-all ul{float: left;margin:0px;padding:0px;margin-top: 20px;}
.select-all li{float: left;}
.select-input{border-bottom: 1px solid #DCDCDC;padding:5px 0px;}
.badges{border-radius: 9px;-webkit-border-radius: 9px;-moz-border-radius: 9px;}
.select-input{width:100%;margin:0px;padding: 0px;float:left;}
.select-input ul{float: left;margin-top:5px;}
.select-input li{float: left;width:180px;height:36px;}
.select-input li label{float:left;}
.star-address button{margin-right:5px;}
.span-content{padding-bottom:20px;border-top:1px solid #DCDCDC;margin-top:20px;}
.weizhit,.weizhitmd{background:#43AEE4;margin-left:30%;float:left;color:#ffffff;}
.display0{display:none;}
.new-sels{float:left;}
.inp-checkboxs{width:70%;height:auto;float:left;margin-left:20px;padding-left: 30px;}
.inp-checkboxs label{width:110px;margin-top:-5px;float:left;}

/*日历控件样式*/
/*线路详情页行程日历*/
.calendar{border: 1px solid #CCC;border-radius: 3px;margin: 0;overflow: hidden;padding: 10px 12px;width: 934px;}
.calendar .outer{width: 1080px;overflow: hidden;}
.calendar table{background: #FFF;border-collapse: separate;border-spacing: 3px;display: inline;float: left;margin-right: 10px;width: 522px;}
.calendar .week th{background: #B1B1B1;color: #FFF;height: 26px;line-height: 26px;overflow: hidden;width: 63px;text-align: center;}
.calendar .week th.weekEnd{background: #2A98DA;}
.calendar .month th div{background: #FFF;border-bottom: 1px solid #D5D5D5;box-shadow: 0 1px 2px #DDD;color: #999;font: bold 16px/22px "微软雅黑","宋体",Arial;height: 22px;margin-bottom: 6px;overflow: hidden;padding-bottom: 5px;}
.calendar .month th .prevMonth,.calendar .month th .nextMonth{float: left;width: 63px;}
.calendar .month th .dates{float: left;width: 330px;text-align: center;}
.calendar .month th .dates em{font: bold 16px/22px Arial,Helvetica,sans-serif;}
.calendar .month th a{background: url(../../../images/admin/calendarbg.gif) no-repeat 0 0;display: inline-block;height: 22px;width: 63px;overflow: hidden;}
.calendar .month th a.prev{background-position: 0 0;}
.calendar .month th a.prev:hover{background-position: 0 -22px;}
.calendar .month th a.prev0{background-position: 0 -44px;cursor: not-allowed;}
.calendar .month th a.next{background-position: 0 -66px;}
.calendar .month th a.next:hover{background-position: 0 -88px;}
.calendar .month th a.next0{background-position: 0 -110px;cursor: not-allowed;}
.calendar td{background:#2A98DA;border-radius: 3px 3px 0 3px;height: 83px;line-height: 14px;width: 83px;text-align: center;vertical-align: middle;overflow: hidden;position: relative;}
.calendar td.aba{background:#B1B1B1;}
.calendar td.curs{background:#B1B1B1;cursor:auto;}
.calendar td.hover{/*background:#4D90FE;*/cursor: pointer;}

.calendar td.cur{background:#4D90FE;}
.calendar td em{font-family: Arial;font-size: 14px;}
.calendar td em.money{color: #F60;font-weight: bold;font-size: 14px;}
.calendar .nl{ font-size:8px; color:#03F;}
.calendar .hides{color:#ffffff;font-size:9px;}
.rililist{background:#F5F5F5;width:80%;height:auto;display:none;padding-bottom:20px;float:left;margin-top:20px;margin-left:11%;}
/*修改价格与库存弹框*/
.edittitles{height:30px;background:#CCCCCC;line-height:30px;padding:0px 10px;margin-bottom:20px;}
.edittitles p{float:left;}
.edittitles p span{color:#EF2968;}
.edittitles a{float:right;}
/*处理退款弹框*/
.qihuans{height:30px;margin-bottom:20px;}
.qihuans label{float:left;margin-left:35px;}
.qihuans ul{float:left;margin-left:35px;}
.qihuans li{float:left;width:100px;height:30px;background:#CCCCCC;line-height:30px;text-align:center;}
.qihuans li a{display: block;color:#000000;}
.qihuans li .qihuans_ons{background:green;}
.qihuans li a:hover{background:green;}
.yqljs1{display:none;}
.form-horizontal .controls-tutton{margin-left:90px;}
.btn-color{background:#5EBC5E;}
.tanchusst{background:#ffffff;width:500px;height:220px;display:none;position:fixed;top:300px;left: 33%;z-index: 999999;}
