<extend name="Common:base" />
<block name="content">
<load href="__CSS__/App/admin/admin/region.css" />
<style>
.w25{width:25%;}
.w75{width:75%;}
.w50{float:left;}
</style>
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">当前位置：用户中心 -- 会员等级</div>
        </div>
        <div class="portlet-body">
            <div class="form-rows">
                <div class="from-columns column-ext">
                   <!-- <MyTag:rule name="edit">
                        <a class="btn green" href="{:U('edit')}">
                        添加 <i class="icon-plus"></i>
                        </a>
                    </MyTag:rule>-->
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
						<th><input type="checkbox" id="check_all"/></th>

						<th>会员等级</th>
                        <th>升级价格</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="data" id="vo">
                    <tr>
                        <td ><input type="checkbox" class="order_check" value="{$vo['member_id']}"/>
                        <td ><a href="{:U('edit',array(id=>$vo['member_id']))}">{$vo.member_name}</a></td>
                        <td >{$vo.member_price|default='###'}</td>
                       
                    </tr>
                    </volist>
                </tbody>
            </table>
            <!--<div class="row-fluid">
                <div class="pagination pull-right">
                    {$_page}共{$totalPages}页，共{$_total}条 
                    每页显示
                    <form class="form-search pull-right" action="{:U('SetPlace/index')}" method="GET" style="margin-right: 15px;">
                    <input type="text" name="pageSize" value="{$pageSize}" id="changePageSize"/>条
                    </form>                    
                </div>
            </div>-->
        </div>
    </div>
</div>
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/SetPlace/SetPlaceController'],function(admin){
            admin.index();
        });
    </script>
</block>