<extend name="Common:base" />
<block name="content">
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">{$type_lists[$type]['name']}列表</div>
        </div>
        <div class="portlet-body">
            <div class="tabbable tabbable-custom">
                <ul class="nav nav-tabs">
                    <volist name="type_lists" id="vo">
                    <li <eq name="type" value="$key">class="active"</eq>><a href="{:U('userlog',['type'=>$key,'uid'=>$uid,'from' => $_GET['from'] ])}" style="padding: 10px 25px">{$vo.name}</a></li>
                    </volist>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" >
                        <div class="clearfix">
                            <label class="control-label" style="float:left">当前用户:{$user_info.username}
                                <volist name="type_lists" id="vo">
                                    <span style="padding-left: 8px;font-weight: bold">{$vo.name}</span>:{$credits[$key]}{$vo.unit}
                                </volist>
                            </label>
                            <div class="btn-group" style="float:right">
                                <MyTag:rule name="AccountLog/add">
                                <a class="btn green" href="{:U('add',['uid'=>$user_info['uid'],'from' => $_GET['from'] ])}">
                                    调节用户账户 <i class="icon-plus"></i>
                                </a>
                                </MyTag:rule>
                            </div>
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>变动原因</th>
                                <th>操作类型</th>
                                <th>{$type_lists[$type]['name']}</th>
                                <th>余额</th>
                                <th>变动时间</th>
                                <th>操作人</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="lists" id="vo">
                                <tr>
                                    <td>{$vo.log_id}</td>
                                    <td>{$vo.remark}</td>
                                    <td>{$vo.type_name}</td>
                                    <td>{$vo.credits}</td>
                                    <td>{$vo.balance}</td>
                                    <td>{$vo.add_time|dateFormat}</td>
                                    <td>{$vo.editor}</td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                        <div class="row-fluid">
                            <div class="pagination pull-right">
                                {$_page}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/user/creditsController'],function(user){
            user.index();
        });
    </script>
</block>