<extend name="Common:base" />
<block name="css">
<style>
    li{
        list-style:outside none none;
    }
	.summaryList li{
	    float:left;    
	    margin-top:5px;
	}
	.summaryList li span{
	    color:#4b8df8;
	}
	#summaryList{
	   border: 1px solid #4b8df8;
	   background:rgb(175,198,229);
	   color:rgb(255,255,255);
	   padding: 5px;
	}
    .js-del{
        cursor:pointer
    }
	caption {
	    text-align:left;
	    font-weight:600;
	    padding:8px 16px;
	}
	.myBox{
	   border:solid 1px rgb(221,221,221);
	   margin:20px 0;
	}
	.myBox thead{
	   background:rgb(228,228,228);
	}
	.myBox-title {
	   background:rgb(232,242,255);
	   line-height:34px;
	   padding-left:16px;
	   padding-right:40px;
	}
	.myBox-body {
	   max-height:400px;
	   overflow-y:auto;
	   padding-right:30px;
	}
	.myLeft{
	   float:right;
	}
</style>
</block>
<block name="content">
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">{$title}</div>
        </div>
        <div class="portlet-body">
            <div class="clearfix">
                <div class="btn-group">
                    <MyTag:rule name="Logistics/add">
                    <a class="btn green" href="{:U('add')}">
                        新增运费模板 <i class="icon-plus"></i>
                    </a>
                    </MyTag:rule>
                </div>
			</div>
			<volist name = 'lists' id = 'vo'>
			<div class = 'myBox' >
			<div  class = 'myBox-title'>{$vo.ft_name} <span class ='myLeft'>最后编辑时间：{$vo.ft_update_time|date='Y-m-d',###} &nbsp;&nbsp;&nbsp;<a  href="{:U('edit',['id'=>$vo['ft_id']])}">修改</a> <a data-parentselector = '.myBox'  class='js-del'  url="{:U('del',['id'=>$vo['ft_id']])}"> 删除</a></span></div>
			<div class = 'myBox-body'>
	            <table class="table table-hover table-condensed table-bordered">
	                <caption>包邮条件</caption>
	                <thead>
	                    <tr>
	                        <th>运送到</th>
	                        <th>条件</th>
	                    </tr>
	                </thead>
	                <tbody>
	                <eq name="vo.ft_free_shipping_status" value='1'>
	                <tr>
	                	<td>全国</td>
						<td>满{$vo.ft_free_shipping_egt_total}元包邮，未满足条件收邮费{$vo.ft_free_shipping_out_postage}元</td>
	                </tr>
					</eq>
					<eq name="vo.ft_home_delivery_status" value="1">
						 <tr>
	                	<td>送货上门</td>
						<td>门店区域&nbsp;&nbsp;{$vo.ft_home_delivery_elt_distance}km，重量&nbsp;&nbsp;{$vo.ft_home_delivery_weight_one}kg内,&nbsp;&nbsp;{$vo.ft_home_delivery_price_one}元/件,大于&nbsp;&nbsp;{$vo.ft_home_delivery_elt_distance}km,&nbsp;&nbsp;{$vo.ft_home_delivery_price_two}元/件,超过&nbsp;&nbsp;{$vo.ft_home_delivery_elt_distance}km,不配送</td>
	                </tr>
					</eq>
	                <volist name = 'vo.free_freight_detail_data'  id = 'vo_free_freight_detail_data'>
	                    <tr>
	                        <td>
	                             <ul class='summaryList'>
										<volist name='vo_free_freight_detail_data.fsd_county_name_formate'
											id='vo_fsd_name_formate'>
										  <li data-provinceid='{$vo_fsd_name_formate.provinceid}'
											data-countyidstr='{$vo_fsd_name_formate.countyIdStr}'>{$vo_fsd_name_formate.provinceName}<span>（{$vo_fsd_name_formate.positionCityCount}）</span></li>
										</volist>
									</ul>
							</td>
	                        <td>满{$vo_free_freight_detail_data.fsd_egt_money}元包邮，未满足条件收邮费{$vo_free_freight_detail_data.fsd_charge}元</td>
	                    </tr>
	                </volist>    
	                </tbody>
	            </table>
	            <table class="table table-hover table-condensed table-bordered">
	                <caption>不包邮条件</caption>
	                <thead>
	                    <tr>
	                        <th>运送到</th>
	                        <th>首重(kg)</th>
	                        <th>首费(元)</th>
	                        <th>续重(kg)</th>
	                        <th>续费(元)</th>
	                    </tr>
	                </thead>
	                <tbody>
	                <volist name = 'vo.freight_detail_data'  id = 'vo_freight_detail_data'>
	                      <tr>
	                        <td>
	                             <ul class='summaryList'>
                                  <volist name = 'vo_freight_detail_data.fd_county_name_formate'  id = 'vo_fd_name_formate'>
                                      <li data-provinceid = '{$vo_fd_name_formate.provinceid}' data-countyidstr = '{$vo_fd_name_formate.countyIdStr}'>{$vo_fd_name_formate.provinceName}<span>（{$vo_fd_name_formate.positionCityCount}）</span></li>
                                  </volist>
                                </ul>
	                        </td>
	                        <td>{$vo_freight_detail_data.fd_first_weight}(kg)</td>
	                        <td>{$vo_freight_detail_data.fd_first_charge}首费(元)</td>
	                        <td>{$vo_freight_detail_data.fd_continue_weight}续重(kg)</td>
	                        <td>{$vo_freight_detail_data.fd_continue_charge}续费(元)</td>
	                    </tr>
	                 </volist>   
	                </tbody>
	            </table>
            </div>
            </div>
            </volist>
        </div>
    </div>
</div>
<div id = 'summaryList'  style = 'display:none;z-index:21000' >
</div>
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/FreightTemplate/FreightTemplateController'],function(FreightTemplate){
            FreightTemplate.index();
        });
    </script>
</block>