<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{$seo_title}</title>
    <meta name="keywords" content="{$seo_keyword}" />
    <meta name="description" content="{$seo_description}" />
    <link type="text/css" rel="stylesheet" href="__CSS__/App/home/common.css">
    <style>
        img {
            border: 0 none;
            height: auto;
            max-width: 100%;
            vertical-align: middle;
        }
    </style>
</head>
<body>
<img src="__IMG__/home/activity.jpg">
</body>
</html>