<extend name="Common:base" />
<block name="css">
	<load href="__CSS__/App/admin/region/region.css" />
</block>
<block name="content">
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">当前位置：参观基地 -- 线关联路管理 -- 关联线路</div>
        </div>
        <div class="portlet-body">
        	<div class="clearfix" style="margin-bottom:20px; border-bottom: 1px solid #ccc;">
        		<div class="btn-group" id="insertData">
					<MyTag:rule name="Product/edit">
						<a class="btn green addrelate">添加</a>
					</MyTag:rule>
				</div>
				<div class="btn-group" id="delData">
					
				</div>
				<form class="pull-right form-inline" action="{:U('index')}" method="get">
			        <div class="form-rows">
						<div class="from-columns column-ext">
							<label for="goods_sn">&nbsp;&nbsp;&nbsp;编号：</label> 
							<input id="goods_sn" name="goods_sn" type="text" value ="{$Think.get.goods_sn}" placeholder="" style="width: 150px;">
						</div>

						<div class="from-columns column-ext">
							<label for="name">&nbsp;&nbsp;&nbsp;线路名称：</label>
							<input id="name" name="name" type="text" value ="{$Think.get.name}" placeholder="" style="width: 120px;">
						</div>

						<!-- <input type = 'hidden' name ='uid' value = "{$Think.get.uid}"/> -->

						<div class="from-columns column-ext">
							<label for="depart">&nbsp;&nbsp;&nbsp;出发地：</label>
							<input id="depart" name="departName" type="text" value="{$Think.get.departName}" placeholder="" style="width: 130px;">
						</div>
						<div class="from-columns column-ext">
							<label for="destination">&nbsp;&nbsp;&nbsp;目的地：</label>
							<input id="destination" name="destination" type="text" value="{$Think.get.destination}" placeholder="" style="width: 130px;">
						</div>
						<div class="from-columns">
							<label for="is_sale">&nbsp;&nbsp;</label>
							<select name="is_sale" style="width: 80px;">
					  	   		<option value="1" <eq name="Think.get.is_sale" value="1">selected</eq>>上架</option>
					  	   		<option value="0" <eq name="Think.get.is_sale" value="0">selected</eq>>下架</option>
					  	   	</select>
						</div>
						<div class="from-columns" id="check">
							<button class="btn green" type="submit">搜索</button>
							<button class="btn blue" type="reset">重置</button>
						</div>
					</div>
				</form>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th><input type='checkbox' id='check_all'/></th>
						<th>排序</th>
						<th>编号</th>
						<th>线路名称</th>
						<th>出发地</th>
						<th>目的地</th>
						<th>成人最低价格</th>
						<th>更新时间</th>
						<th>上下架</th>
						<th>所属标签</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo">
						<tr>
							<td>
								<input type='checkbox' value="{$vo.goods_id}" name='goodsIds[]' class='nav_check'/>
							</td>
							<td>{$vo.sort}</td>
							<td>{$vo.goods_sn}</td>
							<td>{$vo.name}</td>
							<td>出发地</td>
							<td>目的地</td>
							<td>{$vo.minAdultPrice}</td>
							<td>{$vo.update_time|date='Y-m-d H:i:s',###}</td>
							<td>{$vo.is_sale|getStatus=###,['0' =>['style'=>'label-danger','text'=>'下架'],'1' =>['style'=>'label-success','text'=>'上架']]}</td>
							<td>{$vo.linkTag}</td>
						</tr>
					</volist>
				</tbody>
			</table>
            <div class="row-fluid">
				<input   name="num" type="hidden" value ="{$data.num}" placeholder="" style="width: 120px;">
				<input   name="id" type="hidden" value ="{$data.id}" placeholder="" style="width: 120px;">
            </div>
        </div>
    </div>
</div>
</block>
<block name="js">
    <script type="text/javascript">
		 seajs.use(['controller/base/baseController'],function(main){
            main.addrelate();
        });
    </script>
</block>