<div class="portlet-body">
	<div class="clearfix" style="margin-bottom:20px; border-bottom: 1px solid #ccc;">
		<div class="btn-group" id="insertData">
			<MyTag:rule name="Base/addRelate">
				<a class="btn green" href="{:U('Base/addRelate')}">添加关联线路</a>
			</MyTag:rule>
		</div>
		<div class="btn-group" id="delData">
			<MyTag:rule name="Base/delRelate">
				<a class="btn green tag-del" href="{:U('Base/delRelate')}">删除关联线路</a>
			</MyTag:rule>
		</div>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>选项</th>
				<th>排序</th>
				<th>编号</th>
				<th>线路名称</th>
				<th>出发地</th>
				<th>目的地</th>
				<th>成人最低价格</th>
				<th>更新时间</th>
				<th>上下架</th>
			</tr>
		</thead>
		<tbody>
		<!-- <volist name="lists" id="vo"> -->
			<tr>
				<td>
				<input type='checkbox' value="{$vo.id}" name='id[]' class='nav_check'/>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td>
				<a href="{:U('edit',['id'=>$vo['id']])}"></a>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		<!-- </volist> -->
		</tbody>
	</table>
</div>