<extend name="Common:base" />
<block name="content">
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption"><empty name="info.classify_id">添加分类<else/>编辑分类</empty></div>
        </div>
        <div class="portlet-body form">
            <form autocomplete = "off" id="user_edit" action="{:U('Hot/update')}" method="post" class="form-horizontal">
            <div class="control-group">
                <label class="control-label">分类名称<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" name="classify_name" class="m-wrap" value="{$info.classify_name}" <empty name="info.uid"><else/>disabled="disabled"</empty> />
                </div>
            </div>
			
            <div class="control-group">
                <label class="control-label">显示顺序<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" name="classify_sort" class="m-wrap popovers"  value='<empty name="info.classify_sort"> 0<else />{$info.classify_sort}</empty>' />显示顺序越大则越靠前显示
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">是否启用</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="classify_state" value="2" <eq name="info.classify_state" value="2">checked</eq>/>
                        禁用
                    </label>
                    <label class="radio">
                        <input type="radio" name="classify_state" value="1" <empty name="info.classify_id">checked<else/><eq name="info.classify_state" value="1">checked</eq></empty>/>
                        启用
						
                    </label>
                </div>
            </div>
			
            <div class="form-actions">
                <input type="hidden" name="classify_id" value="{$info.classify_id}"/>
                <button type="submit" class="btn blue">提交</button>
                <a class="btn" href="{:U('Hot/index')}">返回</a>
            </div>
            </form>
        </div>
    </div>
</div>
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/Hot/hotController'],function(admin){
            admin.edit();
        });
    </script>
</block>