@charset "utf-8";
/* CSS Document */


#content{
	position:relative;
	top:20px;
	min-height:650px;
}
#content .title{
	height:850px;
	
}
#content .place{
	width:750px;
	height:28px;
	border-bottom:1px solid #ABB1AF;
	float:right;
	background:url(images/contact_06.jpg) no-repeat 0 3px;
	padding-left:20px;
	font-size:14px;
	}
#content .place a{
	color:#747474;
	}
#content .place a:hover{
	color:#ff8c00;
	}
#content .map{
	float:right;
	}
#content .map h2{
	margin-bottom: 20px;
    margin-top: 20px;
    text-align: right;
	color:#ff8c00;
}

#content .map .con-adress{
	margin-top:20px;
}
#content .map .con-adress h3{
	color:#ff8c00;
	margin-bottom:10px;
}
#content .map .con-adress p{
	padding:3px;
	font-size:14px;
	}