@charset "utf-8";
/* CSS Document */
h3,h4{
	font-weight:normal;
	color:#ff8c00;
	}
#content .place{
	width:983px;
	}
#content .text-area{
	width:1000px;
	height:auto;
	}
#content .text-area h3{
	margin-top:20px;
	margin-bottom:20px;
	float:left;
}

#content .text-area .message{
	padding-bottom:15px;
	width:970px;
	border:1px solid #ccc;
	margin-top:30px;
	height:100%;
	overflow:hidden;
	min-height:320px;
	}
#content .text-area .message h4{
	left: 20px;
    top: 15px;
	clear:both;
	position:relative;
}
#content .text-area .message ul{
	margin-left:-90px;
	margin-top:20px;}
#content .text-area .message ul li{
	list-style:none;
	float:left;
	padding-left:110px;
	padding-top:10px;
	font-size:14px;
	text-align: left;
    width: 150px;
	}
#content .text-area .message .job-r h5{
	width:100px;
	position:relative;
	top:20px;
	left:20px;
}
#content .text-area .message .text-box{
	margin-left: 20px;
    margin-top: 20px;
}
#content .text-area .message .text-box p{
	font-size:12px;
	margin:0;
	padding:0;	
	}
#content .text-area .page-num{
 	float: right;
    font-size: 12px;
    height: auto;
    margin: 35px auto 0;
    width: 480px;
	margin-right:25px;
	}