@charset "utf-8";

body, ul, h1, h2, h3, p, span, strong { padding: 0; margin: 0; }
li { list-style: none; }
a { text-decoration: none; }


body { background-color: #efefef; }
.container { background-color: #fff; }
.title { padding-top: 10px; }
.title h3 { text-align: center; height: 48px; line-height: 48px; }


.filter-bg { border: 1px solid #4E3737; border-bottom: none; margin-top: 20px; font-size: 16px; }
.filterP-one { border-bottom: 1px solid #4E3737; }
.filterP-one span { 
	display: inline-block; 
	height: 48px; 
	line-height: 48px; 
	border-right: 1px solid #4E3737; 
}
.re-pd { border-right: none !important; }
.row { margin: 0; }

.filterP-tow { border-bottom: 1px solid #4E3737; }
.filterP-tow span { 
	display: inline-block; 
	height: 138px; 
	border-right: 1px solid #4E3737; 
}
.lineHi { line-height: 138px; }
.pd-1 { padding-top: 40px; }
.pd-2 { padding-top: 20px; }
.pd-3 { padding-top: 30px; }

.filterP-theen { border-bottom: 1px solid #4E3737; }
.filterP-theen span { 
	display: inline-block; 
	height: 98px;
	border-right: 1px solid #4E3737;
}
.line-hei { line-height: 98px; }

.botom-pic { padding: 30px 15px; margin-bottom: 160px; }
.botom-pic h3 { padding-bottom: 20px;}
.botom-pic a { display: inline-block; font-size: 24px; background-color: #F1F6E8; }



.footer { width: 100%; margin: 20px auto 0;
    padding: 0;
    min-height: 1px;
    text-align: center;
    line-height: 16px;
    background-color: #f8f8f8; 
}
.copyright { background-color: #f8f8f8;
    color: #999;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    margin: 0;
}
.ft-links { padding: 15px; text-align: center; }
.ft-links a { margin: 0 6px; color: #333; }
.a { color: #333; background: transparent; text-decoration: none; }











