<extend name="Common:base" />
<block name="content">
<load href="__CSS__/App/admin/admin/region.css" />
<style>
.w25{width:25%;}
.w75{width:75%;}
.w50{float:left;}
</style>
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">当前位置：营销 -- 国内游特色推荐</div>
        </div>
        <div class="portlet-body">
            <div class="form-rows">
                <div class="from-columns column-ext">
                    <MyTag:rule name="domestictour/edit">
                        <a class="btn green" href="{:U('edit')}">
                        添加 <i class="icon-plus"></i>
                        </a>
                    </MyTag:rule>
					<MyTag:rule name="domestictour/edit">
                        <a class="btn green del_message">
                        删除 <i class="icon-remove"></i>
                        </a>
                    </MyTag:rule>
                </div>
               <form class="form-search pull-right" action="{:U('DomesticTour/index')}" method="GET" style="margin-right: 15px;">
					
						<div class="from-columns column-ext">
							<label for="inside-user">编号</label> 
							<input id="order-sn" name="dt_id" type="text" value ="{$Think.get.dt_id}" placeholder="" style="width: 100px;">
						</div>
						<div class="from-columns column-ext">
							<label for="user-role_id">产品标签</label>
							<!-- <select name="fk_tat_id" id="user-role_id">
								<option value="">--请选择--</option>
								<volist name="tag" id="vo">
								<eq name="vo.fk_tat_id" value="$r.tag_id">  
									<option value="{$vo.tag_id}" selected>{$vo.name}</option>
								<else/>
									<option value="{$vo.tag_id}">{$vo.name}</option>
								</eq>
								</volist>
							</select> -->
							<select name="fk_tat_id" id="user-role_id">
									<option value="">--请选择--</option>
							         <foreach name="tag" item="v" key="k">
							          <eq name="v.tag_id" value="$fk_tat_id">
							           <option value="{$v.tag_id}" selected>{$v.name}</option>
							          <else/>
							           <option value="{$v.tag_id}">{$v.name}</option>
							          </eq>
							         </foreach>
							</select>
						</div>
						<div class="from-columns column-ext">
							<label for="order-sn">分类名称</label>
							<input id="order-sn" name="dt_name" type="text" value ="{$Think.get.dt_name}" placeholder="" style="width: 100px;">
						</div>

						<input type = 'hidden' name ='uid' value = "{$Think.get.uid}"/>
						<div class="from-columns" id="check">
							<button class="btn green" type="submit">搜索</button>
							<button class="btn blue" type="reset">重置</button>
						</div>
					
                </form>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
						<th><input type="checkbox" id="check_all"/></th>
						<th>编号</th>
						<th>排序</th>
                        <th>分类名称</th>
                        <th>图片</th>
                        <th>绑定产品标签</th>
                        <th>是否启用</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="lists" id="vo">
                    <tr>
                        <td ><input type="checkbox" class="order_check" value="{$vo['dt_id']}"/>
                        <td >{$vo.dt_id}</td>
                        <td >{$vo.dt_sort}</td>
                        <td ><a href="{:U('edit',array('id'=>$vo['dt_id']))}">{$vo.dt_name}</a></td>
                        <td ><img src="{$vo.img_url}" style="height:50px" /></td>
                        <td >{$vo.tag}</td>
                       <td status='{$vo.dt_state}'>{$vo.dt_state|getTypeText = ###,['1' => '是','2' => '否']}</td>
                       
                    </tr>
                    </volist>
                </tbody>
            </table>
            <div class="row-fluid">
				<div class="pagination pull-right">
					{$_page}<div style="float:right;"><div style="margin-left: 13px;margin-right: 109px;margin-top: 5px;">共{$totalPages}页，共{$_total}条
					每页显示</div>
					<form class="form-search pull-right" action="{:U('index')}" method="GET" style="margin-right: 33px;margin-top:-24px;">
						<input type="text" name="pageSize" value="{$pageSize}" id="changePageSize" style="width:34px;"/>条
					</form></div>
				</div>
            </div>
        </div>
    </div>
</div>


<!--用户详情-->
<div class="modal hide" id="message" style="width:600px;">

	<div class="modal-header">
		<button type="button" class="cancel close" ></button>
		<h4 class="modal-title">添加/编辑</h4>
	</div>
	  	
	<div class="modal-body">
		<div>
		  <div class="w50 w25">图片名称</div>
		  <div class="w50 w75"><input type="text"  name="dt_name"/></div>
		</div>
		<div>
		  <div class="w50 w25">显示顺序</div>
		  <div class="w50 w75"><input type="text"  name="dt_display"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</div>
		<div>
		  <div class="w50 w25">更新时间</div>
		  <div class="w50 w75"><input type="text"  name="dt_displays"/>&nbsp;&nbsp;秒&nbsp;&nbsp;&nbsp;&nbsp;</div>
		</div>
		<div>
			<div class="w50 w25">是否启用</div>
			<div class="w50 w75">
				<input type="checkbox" name="dt_state" value="1" checked />
			</div>
		</div>
		<div>
		  <div class="w50 w25">上传图片</div>
		  <div class="w50 w75">
			  <div class="controls" style="position:relative;">
				<span style="color:red;position:absolute;top:2px;left:80px;display:block;">点击下图选择默认封面图片！（上传图片尺寸700X700）</span>
				<MyTag:plupload type="many" attachment="info.attribute_id" thumb="true" clickdefault="true"/>
				</div>
		  </div>
		</div>
		
		<!-- <div class="control-group">
			<label class="control-label">上传产品图片<span class="required">*</span></label>
			<div class="controls" style="position:relative;">
			<span style="color:red;position:absolute;top:2px;left:80px;display:block;">点击下图选择默认封面图片！（上传图片尺寸700X700）</span>
			<MyTag:plupload type="many" attachment="info.attribute_id" thumb="true" clickdefault="true"/>
			</div>
		</div> -->
	</div>
	<div class="modal-header"></div>
	
	<div class="modal-footer">
		<button class="btn btn-primary" type='submit'>确认</button>
		<button class="btn cancel" >取消</button>
  </div>
</div>
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/DomesticTour/DomesticTourController'],function(admin){
            admin.index();
        });
    </script>
</block>