<!DOCTYPE html>
<html class="not-ie" lang="en">
<head>

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

  <meta charset="utf-8">
  <meta name="description" content="NIM- Responsive One Page Creative Template" />
  <meta name="keywords" content=""/>
  <meta name="author" content="Metrothenes" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="stylesheet" media="screen" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" media="screen" href="/css/commonCss.css"/>
  <link rel="stylesheet" media="screen" href="/css/commodity/domesticTravel.css"/>
  <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  
  <script src="/bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js" type="text/javascript" charset="utf-8"></script>
  
  <script src="/js/dataStore.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/interface.js" type="text/javascript" charset="utf-8"></script>
  
  <!--<script src="/js/ngResizeImage.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/user/userS.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/user/userC.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/user/user.js" type="text/javascript" charset="utf-8"></script>-->
  <script src="/js/list/listS.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/list/listC.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/list/list.js" type="text/javascript" charset="utf-8"></script>
  <title>国内游</title>
</head>
<body ng-app="app" ng-controller="travelsC" ng-cloak ng-loading>
  <div class="view">
    <!-- 头部 -->
    <header class="header-box">
      <div class="container">
        <div class="activebar">
          <a href="javascript:history.go(-1)" class="btnBack"><img src="../../images/user/btnBack.png"/></a>
          <span class="title">
            国内游
          </span>
        </div>
      </div>
    </header>
    <!--  内容 -->
    <div id="content" class="container content">
        <!--
    	<section class="search">
       	<input type="text" name="search" id="search" placeholder="搜索线路目的地" class="searchInput form-control"/>
       	<img class="searchIcon" src="/images/index/icon_serch@2x.png" height="12px" width="12px"/>
        </section>
         -->
    	<section class="fbox">
				<div class="fbox_title">
					<img src="/images/commodity/lines.png"/>
					<span>特色推荐</span>
					<!--<a class="icon_more">更多</a>-->
				</div>
				<div class="fbox_content">
					<nav class="nav-box flex">

						<a href="aroundTravels.html?dt_id={{v.dt_id}}&cat_id={{search_catid}}" class="flexOne" ng-repeat="(k,v) in datas.data"><img ng-src="{{v.img_url}}"/><p>{{v.dt_name}}</p></a>
                        <!--
						<a href="#" class="flexOne"><img src="../../images/commodity/icon_shty@2x.png"/><p>山水田园</p></a>
						<a href="#" class="flexOne"><img src="../../images/commodity/icon_lsrw@2x.png"/><p>历史人文</p></a>
						<a href="#" class="flexOne"><img src="../../images/commodity/icon_gddz@2x.png"/><p>高端定制</p></a>
                         -->
					</nav>
				</div>
			</section>
			
			<section class="fbox">
				<div class="fbox_title">
					<img src="/images/commodity/lines.png"/>
					<span>线路</span>
					<a href="aroundTravels.html?cat_id={{search_catid}}" class="icon_more">更多</a>
				</div>
				<div class="fbox_content">
					<div class="con_item flex" ng-repeat="(k,v) in datalist.data">
						<a href="detail.html?gid={{v.goods_id}}">
						<img ng-src="{{v.cover}}"/>
						<div class="list-navbg">{{v.cat}}</div>
						</a>
						<div class="details flexOne" ng-hide="$last">
							<h3>{{v.name}}</h3>
							<div class="tagName">
								<span ng-repeat="(k,v) in v.tag_name">{{v.name}}</span>
							</div>
							<p><span>{{v.date_time.contens}} 出发</span> | {{v.days}}</p>
							<p><span class="red">¥ {{v.price}} </span>起</p>
						</div>
						<div class="details flexOne" ng-show="$last" ng-touchmove="category_search()">
							<h3>{{v.name}}</h3>
							<div class="tagName">
								<span ng-repeat="(k,v) in v.tag_name">{{v.name}}</span>
							</div>
							<p><span>{{v.date_time.contens}} 出发</span> | {{v.days}}</p>
							<p><span class="red">¥ {{v.price}} </span>起</p>
						</div>
					</div>
				</div>
			</section>
    </div>
  </div>
  <message></message>
</body>
</html>
