<!DOCTYPE html>
<html class="not-ie" lang="en">
<head>


<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />


  <meta charset="utf-8">
  <meta name="description" content="NIM- Responsive One Page Creative Template" />
  <meta name="keywords" content=""/>
  <meta name="author" content="Metrothenes" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="stylesheet" media="screen" href="../../css/bootstrap.min.css"/>
  <link rel="stylesheet" media="screen" href="../../css/commonExt.css"/>
  <link rel="stylesheet" media="screen" href="../../css/remen.css"/>

  <script src="/bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/dataStore.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/interface.js" type="text/javascript" charset="utf-8"></script>
   <script src="/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/plugin/jweixin-1.0.0.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/ngWechat.js?t=as" type="text/javascript" charset="utf-8"></script>

  <script src="/js/remenmdd/remenmddS.js?t=as" type="text/javascript" charset="utf-8"></script>
  <script src="/js/remenmdd/remenmddC.js?t=as" type="text/javascript" charset="utf-8"></script>
  <script src="/js/remenmdd/check.js?t=as" type="text/javascript" charset="utf-8"></script>

  <title>热门目的地</title>
</head>
<body ng-app="app" ng-controller="checkC">
  <div class="view">
    <!-- 头部 -->
    <header class="header-box">
      <div class="container">
        <div class="activebar">
          <a href="#" class="btnBack backNoText"  ng-click="back()"> <i class="icon icon-back marR4"></i>
          </a>
          <span class="title">热门目的地</span>
         
        </div>
      </div>
    </header>
    <!--  内容 -->
    


   <div class="container content payby">
     <div class="col-xs-12 jianglanone">
      <div class="col-xs-12 jianglanone-title">
       <div class="jianglanone-title-left">

       </div>
        烟雨江南
       <div class="jianglanone-title-right">

       </div>

      </div>
      <div class="col-xs-12 jianglanone-content">
       <div class="col-xs-6 jianglanone-one">
         <img src="../../jituimages/remenmdd.jpg"/>
         <div class="jianglanone-one-position">
           <img src="../../jituimages/rementu.png"/>
           云南丽江
         </div>
       </div>
       <div class="col-xs-6 jianglanone-one">
         <img src="../../jituimages/remenmdd.jpg"/>
         <div class="jianglanone-one-position">
           <img src="../../jituimages/rementu.png"/>
           云南丽江
         </div>
       </div>
       <div class="col-xs-6 jianglanone-one">
         <img src="../../jituimages/remenmdd.jpg"/>
         <div class="jianglanone-one-position">
           <img src="../../jituimages/rementu.png"/>
           云南丽江
         </div>
       </div>
       <div class="col-xs-6 jianglanone-one">
         <img src="../../jituimages/remenmdd.jpg"/>
         <div class="jianglanone-one-position">
           <img src="../../jituimages/rementu.png"/>
           云南丽江
         </div>
       </div>

      </div>


     </div>


     <div class="col-xs-12 jianglanone">
      <div class="col-xs-12 jianglanone-title">
       <div class="jianglanone-title-left">

       </div>
        烟雨江南
       <div class="jianglanone-title-right">

       </div>

      </div>
      <div class="col-xs-12 jianglanone-content">
       <div class="col-xs-6 jianglanone-one">
         <img src="../../jituimages/remenmdd.jpg"/>
         <div class="jianglanone-one-position">
           <img src="../../jituimages/rementu.png"/>
           云南丽江
         </div>
       </div>
       <div class="col-xs-6 jianglanone-one">
         <img src="../../jituimages/remenmdd.jpg"/>
         <div class="jianglanone-one-position">
           <img src="../../jituimages/rementu.png"/>
           云南丽江
         </div>
       </div>
       <div class="col-xs-6 jianglanone-one">
         <img src="../../jituimages/remenmdd.jpg"/>
         <div class="jianglanone-one-position">
           <img src="../../jituimages/rementu.png"/>
           云南丽江
         </div>
       </div>
       <div class="col-xs-6 jianglanone-one">
         <img src="../../jituimages/remenmdd.jpg"/>
         <div class="jianglanone-one-position">
           <img src="../../jituimages/rementu.png"/>
           云南丽江
         </div>
       </div>

      </div>

      
     </div>
     <!--
     <div class="zhifutop">
      <div class="col-xs-12 zhifutop-height">
         <div class="col-xs-12 zhifuimg">
        <img src="../../jituimages/zhfusuccess.jpg"/>
        <p>支付成功</p>
        </div>
        <div class="col-xs-12 weizi">
          您的订单已支付成功，我们会尽快安排您的出游日程，请耐心等待吉途客户人员与您联系，如您需要帮助，可拨打下方我们的客服电话。
        </div>
        <div class="col-xs-12 buttons">
          <button class="btn btn-detail">订单详情</button> <button class="btn btn-details">返回首页</button>
        </div>
      </div>
     </div>
     -->
    </div>
    <!--
   <div class="bottom-position" ng-click="canshu()">
     <img src="../../jituimages/kefuimg.jpg"/><span>客服咨询</span>
   </div>
   -->
   <!--客服电话框-->
      <!--
      <div class="msgBox beijinss">
      <div class="allwidth" id="showsels">
     
      <div class="moneylistst">
        <div class="moneylistst-top">
          为节省您的时间，请告知客服此线路的产品编号
          <p>XL00000001</p>
        </div>
        <div class="moneylistst-middle">
          <ul>
           <li><img src="../../jituimages/kefuphone.jpg"> 400-7777-927</li>
           <li><img src="../../jituimages/kefuphone.jpg"> 0755-82900666</li>
          </ul>

        </div>
        <div class="guanbis" ng-click="cancel()"><img src="../../jituimages/guanbi.jpg"/></div>
      </div>
            
      </div>
      </div>
      -->
     <!--客服电话框-->



  </div>
  <message></message>
</body>
</html>