<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>吉途旅游</title>
		<meta name="baidu-site-verification" content="bV2fkiH9o2">
		<meta name="keywords" content="吉途旅游，积土集团">
		<meta name="description" content="深圳市吉途旅游有限公司是一家从事国内旅游、入境旅游的国内旅行社。公司秉承“为顾客赢得健康、为企业赢得朋友”的目标，为顾客提供身、心、意全方位的“保养旅行”、“滋养旅行”、“涵养旅行”的原则，给每位顾客带来一场健康、快乐的如意旅行。">
		<!--<meta property="qc:admins" content="2277635132621017057636" />-->
		<meta property="qc:admins" content="227763513264521017057636">
		<link type="text/css" rel="stylesheet" href="../../../../../Public/Css/App/home/common.css">
		<!-- css -->
		
		<link type="text/css" rel="stylesheet" href="http://www.bihaohuo.cn/Public/Css/App/home/home-page.css">
		<link rel="stylesheet" type="text/css" href="http://www.bihaohuo.cn/Public/Css/App/home/list-page.css">
	</head>
	<body>
		<div id="content">
			<img src="../../../../../Public/Image/activity/宣传.png"/ width="100%">
			<div id="bottom">
		        <div class="infor_link">
		           	 <span>友情链接 :</span>
		           	 <a href="http://www.jitujituan.com" target="_blank"><img src="../../../../../Public/Image/activity/友情链接1.png"/></a> 
		           	 <a href="http://www.bihaohuo.cn" target="_blank"><img src="../../../../../Public/Image/activity/友情链接2.png"/></a>    
		        </div>
		        <div class="infor_text">
			        <img src="../../../../../Public/Image/activity/备案名.png"/>
			        <a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action">粤ICP备15019524号-8 </a>
		        </div>
			</div>
		</div>
	</body>
</html>
