<!DOCTYPE html>
<html class="not-ie" lang="en">
<head>

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

  <meta charset="utf-8">
  <meta name="description" content="NIM- Responsive One Page Creative Template" />
  <meta name="keywords" content=""/>
  <meta name="author" content="Metrothenes" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="stylesheet" media="screen" href="../../css/bootstrap.min.css"/>
  <link rel="stylesheet" media="screen" href="../../css/commonCss.css"/>
  <link rel="stylesheet" media="screen" href="../../css/keywordsManagement.css"/>

  <script src="/bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/dataStore.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/interface.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/plugin/jpeg_encoder_basic.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/plugin/exif.js" type="text/javascript" charset="utf-8"></script>

  <script src="/js/ngResizeImage.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/user/userS.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/user/userC.js?t=14122" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    var app = angular.module('app', ["ui.router","app.controllers","app.services","app.dataStore","ngTouch","ngResizeImage"])
    .run(function () { })
  </script>
  <title>修改手机号码</title>
</head>
<body ng-app="app" ng-controller="userC">
  <div class="view">
    <!-- 头部 -->
    <header class="header-box">
      <div class="container">
        <div class="activebar">
          <a href="#" class="btnBack" ng-back="user"><img src="../../images/user/btnBack.png"/></a>
          <span class="title">
          	修改手机号码
          </span>
        </div>
      </div>
    </header>
    <!--  内容 -->
    <div id="content" class="container content">
    	<div class="kbox" style="margin-top: 10px;">
        <div class="lineGroup flex" ng-click="toPage('bindPhone')">
	        <span class="head flexOne">通过验证原手机号</span>
	        <span class="tip">原手机号能接收到短信</span>
	        <i class="i_enter"></i>
	      </div>
	      <div class="lineGroup flex" ng-click="bindPayPassword()">
	        <span class="head flexOne">通过验证支付密码</span>
	        <span class="tip">您已设置支付密码</span>
	        <i class="i_enter"></i>
	      </div>
    	</div>
    </div>
  </div>
  <message></message>
</body>
</html>
