<extend name="Common:base" />
<block name="content">
 
  <load href="__CSS__/App/admin/region/region.css" />
<!-- <style>
	.leftMenu {
		float: left;
		width: 19%;
		margin-right: 1%
	}
	
	.leftMenu ul {
		margin: 0;
	}
	
	.leftMenu ul li {
		padding-left: 5px;
		height: 45px;
		line-height: 45px;
		margin: 1px;
		background-color: white;
	}
	.leftMenu .active {
	   background-color: rgb(211, 231, 243);
	}
	.leftMenu ul span {
		background-color: rgb(129, 178, 207);
		float: right;
		margin-right: 5%;
		padding: 0px 5px;
		height: 35px;
		line-height: 35px;
		margin-top: 5px;
		color:white
	}
	.leftMenuBody{
	   display:inline-block;
	   width:80%
	}
</style> -->
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">当前位置:用户中心 --会员管理</div>
        </div>
        <div class="portlet-body">
          <div class="leftMenu" <eq name = 'url_action'  value = 'user_blacklist'> style = 'display:none;'</eq> >
			<div class="btn-group" id="delData">
				<MyTag:rule name="Base/del">
					<a href="{:U('edit')}" class="btn green tag-del">添加会员</a>
				</MyTag:rule>
			</div>
        </div>
        <div class = 'leftMenuBody' <eq name = 'url_action'  value = 'user_blacklist'> style = 'width:100%;'</eq>>
				<div class="clearfix" style="margin-bottom:20px; border-bottom: 1px solid #ccc;">
        		
				<form class="pull-right form-inline" action="{:U('index')}" method="GET">
			        <div class="form-rows">
						<div class="from-columns column-ext">
							<label for="inside-user">手机号码：</label> 
							<input id="inside-user" name="mobile" type="text" value ="{$Think.get.mobile}" placeholder="" style="width: 100px;">
						</div>

						<div class="from-columns column-ext">
							<label for="order-sn">真实姓名：</label>
							<input id="order-sn" name="real_name" type="text" value ="{$Think.get.real_name}" placeholder="" style="width: 100px;">
						</div>

						<input type = 'hidden' name ='uid' value = "{$Think.get.uid}"/>

						<div class="from-columns column-ext">
							<label for="user-name">身份证号码：</label>
							<input id="user-name" name="ce_number" type="text" value="{$Think.get.ce_number}" placeholder="" style="width: 110px;">
						</div>

						<div class="from-columns">
								<label class="control-label">
								注册时间
								</label>&nbsp;&nbsp;&nbsp;&nbsp;
								<div class="input-append date date-picker start_time">
									<input type="text" name="start_time" id="start_time" class="span9 start_time m-wrap m-ctrl-medium date-picker" size="16" value="{$Think.get.start_time}">
									<span id="start_time" class="add-on"><i class="icon-calendar"></i></span>
								</div>
							  <div style="width:20px;margin-left:-12px;margin-right:5px;" class="input-append">
								<span style="background:#fff;border:none;" class="add-on">~</span>
							  </div>
							  <div class="input-append date date-picker end_time">
								<input type="text" name="end_time" id="end_time" class="span9 end_time m-wrap m-ctrl-medium date-picker" style="width:128px;" size="16" value="{$Think.get.end_time}">
								<span class="add-on"><i class="icon-calendar"></i></span>
							  </div>
						</div>
						<div class="from-columns">
							<label for="is_onsale">来源:</label>
							<select name="come_from" style="width: 80px;">
								<option value="" selected>全部</option>
					  	   		<option value="1" <eq name="Think.get.come_from" value="1">selected</eq>>吉途</option>
					  	   		<option value="2" <eq name="Think.get.come_from" value="2">selected</eq>>必好货</option>
					  	   	</select>
						</div>
						<div class="from-columns">
							<label for="is_onsale">会员等级:</label>
							<select name="member_id" style="width: 80px;">
								<option value="" selected >全部</option>
								<volist name="data" id="vo">
									<option value="{$vo.member_id}" <eq name="Think.get.member_id" value="$vo.member_id">selected</eq>>{$vo.member_name}</option>
								</volist>

							</select>
						</div>
						<div class="from-columns" id="check">
							<button class="btn green" type="submit">搜索</button>
							<a class="btn blue" href="{:U('index')}">重置</a>
						</div>
					</div>
				</form>
			</div>
			</div>
			<form id = 'list'>
            <table class="table table-hover table-condensed" >
                <thead>
                    <tr>
                        <th><input type='checkbox' id='check_all'/></th>
                        <th>手机号码</th>
                        <th>昵称</th>
                        <th>真实姓名</th>
						<th>身份证号码</th>
						<th>个人VIP卡号</th>
						<th>家庭VIP卡号</th>
						<th>会员等级</th>
                        <th>来源</th>
						<eq name="id_status" value="1"><th><a  href="<?php
						 	if(strpos($_SERVER['REQUEST_URI'],'?')!==false){
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'1';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'1';
						 		};
						 	}else if(strpos($_SERVER['REQUEST_URI'],'/sort_id')!==false){
								echo preg_replace('/\/sort_id\/(\d+)/i', '/sort_id/1', $_SERVER['REQUEST_URI']);
						 	}else{
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'1';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'1';
						 		};
							}
						?>">注册时间&nbsp;<img src="__IMG__/admin/icon_down.png" alt="" style="height: 15px;margin-left: 4px;"></a></th></eq>
						<eq name="id_status" value="2"><th><a  href="<?php
						 	if(strpos($_SERVER['REQUEST_URI'],'?')!==false){
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'2';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'2';
						 		};
						 	}else if(strpos($_SERVER['REQUEST_URI'],'/sort_id')!==false){
								echo preg_replace('/\/sort_id\/(\d+)/i', '/sort_id/2', $_SERVER['REQUEST_URI']);
						 	}else{
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'2';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'2';
						 		};
							}
						?>">注册时间&nbsp;<img src="__IMG__/admin/icon_up.png" alt="" style="height: 15px;margin-left: 4px;"></a></th></eq>
						<eq name="id_status" value="3"><th><a  href="<?php
						 	if(strpos($_SERVER['REQUEST_URI'],'?')!==false){
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'3';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'3';
						 		};
						 	}else if(strpos($_SERVER['REQUEST_URI'],'/sort_id')!==false){
								echo preg_replace('/\/sort_id\/(\d+)/i', '/sort_id/3', $_SERVER['REQUEST_URI']);
						 	}else{
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'3';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'3';
						 		};
							}
						?>">注册时间&nbsp;<img src="__IMG__/admin/icon_normal.png" alt="" style="height: 15px;margin-left: 4px;"></a></th></eq>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="lists" id="vo">
                    <tr>
                        <td><input type='checkbox' value="{$vo.uid}" name='uid[]' class='user_check'/></td>
                        <td style = 'position:relative;color:blue;cursor: pointer;' class = 'detail' data="{$vo.uid}">
                        	{$vo.mobile}
                        </td>
                        <td>{$vo.aliasname}</td>
                        <td>{$vo.real_name|checkEmpty}</td>
                        <td>{$vo.ce_number|checkEmpty}</td>
                        <td>{$vo.one_number|checkEmpty}</td>
                        <td>{$vo.family_number|checkEmpty}</td>
						<td>{$membetName[$vo[member_id]]}</td>
                        <td><eq name="vo.come_from" value="1">吉途网<else/>必好货</eq></td>
						<td>{$vo.add_time|date='Y-m-d H:i:s',###}</td>
						<td>
							<MyTag:rule name="User/edit">
	                            <a class="btn red-stripe" href="{:U('User/edit',['uid'=>$vo['uid']])}">编辑</a>
	                        </MyTag:rule>
							
							<!-- 用户假删除操作，不用请注释，别将代码删除 -->
							<MyTag:rule name="User/del">
	                            <a class="btn red-stripe js-del" url="{:U('User/del',['uid'=>$vo['uid']])}">删除</a>
	                        </MyTag:rule>
						</td>
                    </tr>
                    </volist>
                </tbody>
            </table>
            </form>
            <div class="row-fluid">
				<div class="pagination pull-right">
					{$_page}<div style="float:right;"><div style="margin-left: 13px;margin-right: 109px;margin-top: 5px;">共{$totalPages}页，共{$_total}条
					每页显示</div>
					<form class="pull-right" action="{:U('index')}" method="GET" style="margin-right: 33px;margin-top:-24px;">
						<input type="text" name="pageSize" value="{$pageSize}" id="changePageSize" style="width:34px;"/>条
					</form></div>
				</div>
            </div>
            </div>
        </div>
    </div>
</div>
<style>
    .bg-grey{
        background-color: #fff !important;
        background-image: none !important;
    }
    .tile{
        border: 2px solid #ccc;
        color: #000;
    }
    .tile .tile-body{
        color: #000;
    }
    .tile .tile-body h4,.tile .tile-body h4:hover {
        color: #000;
    }
    .tile .tile-body p,.tile .tile-body p:hover,.tile .tile-body p:active,.tile .tile-body p:hover {
        color: #000;
    }
	.w25{width:25%;float:left;}

	.w20{width:20%;float:left;}
	.w30{width:30%;float:left;}

	.header>div:first-child{margin-bottom:10px;border-bottom:#e9e9e9 solid 1px;}
</style>

<!-- 原用户详情弹窗 start  -->
<!--用户详情-->
<!--<div class="modal hide" id="user_info" style="width:800px;">

	<div class="modal-header">
		<button type="button" class="close" ></button>
		<h4 class="modal-title">用户详情</h4>
	</div>
	  
	<div class="modal-body">
		<div>
			  <div class="w25"><b>基本信息</b></div>
			  <div class="w25">&nbsp;&nbsp;</div>
			  <div class="w25"><b>证件信息</b></div>
			  <div class="w25">&nbsp;&nbsp;</div>
		</div>
		<div>
			  <div class="w25">手机号码</div>
			  <div class="w25 user_mobile">&nbsp;&nbsp;</div>
			  <div class="w25">身份证号码</div>
			  <div class="w25 user_type1">&nbsp;&nbsp;</div>
		</div>
		<div>
			  <div class="w25">真实姓名</div>
			  <div class="w25  user_real_name">&nbsp;&nbsp;</div>
			  <div class="w25">港澳通行证</div>
			  <div class="w25 user_type2">&nbsp;&nbsp;</div>
		</div>
		<div>
			  <div class="w25">英文名</div>
			  <div class="w25 user_pe_real_name">&nbsp;&nbsp;</div>
			  <div class="w25">台湾通行证</div>
			  <div class="w25 user_type4">&nbsp;&nbsp;</div>
		</div>
		<div>
			  <div class="w25">昵称</div>
			  <div class="w25 user_aliasname">&nbsp;&nbsp;</div>
			  <div class="w25">军官证</div>
			  <div class="w25 user_type5">&nbsp;&nbsp;</div>
		</div>
		<div>
			  <div class="w25">注册时间</div>
			  <div class="w25 user_add_time">&nbsp;&nbsp;</div>
			  <div class="w25">台胞证</div>
			  <div class="w25 user_type6">&nbsp;&nbsp;</div>
		</div>
		<div>
			  <div class="w25">微信openId</div>		  
			  <div class="w25 user_openid">&nbsp;&nbsp;</div>
			  <div class="w25">回乡证</div>
			  <div class="w25 user_type7">&nbsp;&nbsp;</div>
		</div>
		<div>
			  <div class="w25">&nbsp;&nbsp;</div>
			  <div class="w25">&nbsp;&nbsp;</div>
			  <div class="w25">户口本</div>
			  <div class="w25 user_type8">&nbsp;&nbsp;</div>
		</div>
		<div>
			  <div class="w25"><b>来源</b></div>
			  <div class="w25 user_come_from">&nbsp;&nbsp;</div>
			  <div class="w25">出生证明</div>
			  <div class="w25 user_type9">&nbsp;&nbsp;</div>
		</div>
		<div>
			  <div class="w25"><b>&nbsp;&nbsp;</b></div>
			  <div class="w25">&nbsp;&nbsp;</div>
			  <div class="w25">其它证件</div>
			  <div class="w25 user_type10">&nbsp;&nbsp;</div>
		</div>
		<div>
			<div class="w25">个人VIP帐号</div>
			<div class="w25 user_one_number">&nbsp;&nbsp;</div>
			<div class="w25">&nbsp;&nbsp;</div>
			<div class="w25">&nbsp;&nbsp;</div>
		</div>
		<div>
			<div class="w25">家庭VIP帐号</div>
			<div class="w25 user_family_number">&nbsp;&nbsp;</div>
			<div class="w25">&nbsp;&nbsp;</div>
			<div class="w25">&nbsp;&nbsp;</div>
		</div>
		<div>
			<div class="w25">会员等级</div>
			<div class="w25 user_member_id">&nbsp;&nbsp;</div>
			<div class="w25">&nbsp;&nbsp;</div>
			<div class="w25">&nbsp;&nbsp;</div>
		</div>
	</div>
</div>-->
<!-- 原用户详情弹窗 end  -->

<div class="modal fade" id="user_info" tabindex="-1" role="dialog" aria-labelledby="user_info" aria-hidden="true" style="width: 1000px; margin-left: -25%" hidden>
	<div class="modal-dialog modal-lg">
    	<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"></button>
				<h4 class="modal-title">用户详情</h4>
			</div>
	  
			<div class="modal-body">
				<div>
					<div class="w20"><b>基本信息</b></div>
					<div class="w30">&nbsp;&nbsp;</div>
					<div class="w20"><b>证件信息</b></div>
					<div class="w30">&nbsp;&nbsp;</div>
				</div>
				<div>
					<div class="w20">手机号码</div>
					<div class="w30 user_mobile">&nbsp;&nbsp;</div>
					<div class="w20">身份证号码</div>
					<div class="w30 user_type1">&nbsp;&nbsp;</div>
				</div>
				<div>
					<div class="w20">真实姓名</div>
					<div class="w30  user_real_name">&nbsp;&nbsp;</div>
					<div class="w20">港澳通行证</div>
					<div class="w30 user_type2">&nbsp;&nbsp;</div>
				</div>
				<div>
					<div class="w20">英文名</div>
					<div class="w30 user_pe_real_name">&nbsp;&nbsp;</div>
					<div class="w20">台湾通行证</div>
					<div class="w30 user_type4">&nbsp;&nbsp;</div>
				</div>
				<div>
					<div class="w20">昵称</div>
					<div class="w30 user_aliasname">&nbsp;&nbsp;</div>
					<div class="w20">军官证</div>
					<div class="w30 user_type5">&nbsp;&nbsp;</div>
				</div>
				<div>
					<div class="w20">注册时间</div>
					<div class="w30 user_add_time">&nbsp;&nbsp;</div>
					<div class="w20">台胞证</div>
					<div class="w30 user_type6">&nbsp;&nbsp;</div>
				</div>
				<div>
					<div class="w20">微信openId</div>		  
					<div class="w30 user_openid">&nbsp;&nbsp;</div>
					<div class="w20">回乡证</div>
					<div class="w30 user_type7">&nbsp;&nbsp;</div>
				</div>
				<div>
					<div class="w20">&nbsp;&nbsp;</div>
					<div class="w30">&nbsp;&nbsp;</div>
					<div class="w20">户口本</div>
					<div class="w30 user_type8">&nbsp;&nbsp;</div>
				</div>
				<div>
					<div class="w20"><b>来源</b></div>
					<div class="w30 user_come_from">&nbsp;&nbsp;</div>
					<div class="w20">出生证明</div>
					<div class="w30 user_type9">&nbsp;&nbsp;</div>
				</div>
				<div>
					<div class="w20"><b>&nbsp;&nbsp;</b></div>
					<div class="w30">&nbsp;&nbsp;</div>
					<div class="w20">其它证件</div>
					<div class="w30 user_type10">&nbsp;&nbsp;</div>
				</div>
				<div>
					<div class="w20">个人VIP帐号</div>
					<div class="w30 user_one_number">&nbsp;&nbsp;</div>
					<div class="w20">&nbsp;&nbsp;</div>
					<div class="w30">&nbsp;&nbsp;</div>
				</div>
				<div>
					<div class="w20">家庭VIP帐号</div>
					<div class="w30 user_family_number">&nbsp;&nbsp;</div>
					<div class="w20">&nbsp;&nbsp;</div>
					<div class="w30">&nbsp;&nbsp;</div>
				</div>
				<div>
					<div class="w20">会员等级</div>
					<div class="w30 user_member_id">&nbsp;&nbsp;</div>
					<div class="w20">&nbsp;&nbsp;</div>
					<div class="w30">&nbsp;&nbsp;</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		
    	</div>
	</div>
</div>

<script id="tpl-coupon-list" type="text/template">
    <%for(var i=0;i<items.length;i++){
    var info = items[i];
    %>
    <div data-id="<%=info['id']%>" class="div_coupon tile double bg-grey">
        <div class="corner"></div>
        <div class="check"></div>
        <div class="tile-body">
            <h4>￥<%=info['money']%></h4>
            <p><%=info['name']%></p>
            <p><%=info['use']%></p>
            <p><%=info['start_time']%> -
                <%=info['end_time']%></p>
        </div>
    </div>
    <%}%>
</script>
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/user/userController'],function(user){
            user.index();
        });
    </script>
</block>