<div class="footer">
    <div class="footer-inner">
        2015 &copy; 吉途旅游 版权所有
    </div>
    <div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
    </div>
</div>

<!-- 订单消息Modal star -->
<div class="modal fade" id="newMsgModal" tabindex="-1" role="dialog" aria-labelledby="newMsgModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        <h4 class="modal-title" id="newMsgModalLabel">订单提醒</h4>
      </div>
      <div class="modal-body" id="msgContent">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn blue" data-dismiss="modal">确定</button>

      </div>
    </div>
  </div>
</div>
<div><audio id='video1' src='__IMG__/admin/news.ogg' ></audio></div>
<!-- 订单消息Modal end -->