<extend name="Common:base" />
<block name="content">
    <div class="row-fluid">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption"><empty name="info.uid">添加线下订单</div>
            </div>
            <div class="portlet-body form">
                <form method="post" id='line_done_submit' class="form-horizontal" action="{:U('Order/upPayStatus')}">
                    <div class="control-group">
                        <label class="control-label">付款金额</label>
                        <div class="controls">
                            <input type="text" name="paynumber" id="ipt1" required>
                        </div><br/>
                        <div style="color: red;margin-left: 103px">如果不选择订单状态，则默认为“已完成”</div><br/>
                        <div style="margin-left: 102px">
                            订单状态
                            <select style="margin-left: 20px" name="status">
                                <option value="2">未选择</option>
                                <option value="0">待支付</option>
                                <option value="1">待出行</option>
                                <option value="2">已完成</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="button" class="btn blue line_done">完成</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/order/orderController'],function(main){
            main.index();
        });
    </script>
</block>