<extend name="Common:base" />
<block name="css">
	<load href="__CSS__/App/admin/order/order.css" />
</block>
<block name="content">
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">当前位置：订单管理 -- 线路订单</div>
        </div>
        <div class="portlet-body">
        	<div class="clearfix" style="margin-bottom:20px; border-bottom: 1px solid #ccc;">
        		<!--  <div class="btn-group" id="insertData">
					<MyTag:rule name="Base/edit">
						<a class="btn green" href="{:U('Base/edit')}">添加</a>
					</MyTag:rule>
				</div>
				<div class="btn-group" id="delData">
					<MyTag:rule name="Base/del">
						<a href="{:U('Base/del')}" class="btn green tag-del">删除</a>
					</MyTag:rule>
				</div>  -->
				<form class="pull-right form-inline" action="{:U('index')}" method='get'>
			        <div class="form-rows">
						<div class="from-columns column-ext">
							<label for="order_sn">&nbsp;订单号：</label> 
							<input id="order_sn" name="order_sn" type="text" value ="{$Think.get.order_sn}" placeholder="" style="width:150px;">
						</div>

						<div class="from-columns column-ext">
							<label for="name">&nbsp;线路名称：</label>
							<input id="name" name="name" type="text" value ="{$Think.get.name}" placeholder="" style="width:160px;">
						</div>

						<input type = 'hidden' name ='uid' value = "{$Think.get.uid}"/>

						<div class="from-columns column-ext">
							<label for="cellphone">&nbsp;下单手机号：</label>
							<input id="cellphone" name="mobile" type="text" value="{$Think.get.mobile}" placeholder="" style="width:130px;">
						</div>
						<div class="from-columns">
							下单日期：
							<div class="input-append date date-picker start_time">
								<!-- <input type="text" value="{$select.start_time|default=''}" size="16" class="span9 start_time m-wrap m-ctrl-medium date-picker" id="start_time" name="add_time1"> -->
								<input type="text" value="{$Think.get.add_time1|default=''}" size="16" readonly class="span9 start_time m-wrap m-ctrl-medium date-picker" id="start_time" name="add_time1">
								<span class="add-on" id="start_time"><i class="icon-calendar"></i></span>
							</div>
							<div class="input-append" style="width:20px;margin-left:-12px;margin-right:5px;">
								<span class="add-on" style='background:#fff;border:none;'>~</span>
							</div>
							<div class="input-append date date-picker end_time">
								<!-- <input type="text" value="{$select.end_time|default=''}" size="16" style="width:128px;"  class="span9 end_time m-wrap m-ctrl-medium date-picker" id="end_time" name="add_time2"> -->
								<input type="text" value="{$Think.get.add_time2|default=''}" size="16" readonly style="width:128px;"  class="span9 end_time m-wrap m-ctrl-medium date-picker" id="end_time" name="add_time2">
								<span class="add-on"><i class="icon-calendar"></i></span>
							</div>
						</div>

						<div class="from-columns">
							行程出发日期：
							<div class="input-append date date-picker start_time">
								<input type="text" value="{$Think.get.start_time1|default=''}" size="16" readonly class="span9 start_time m-wrap m-ctrl-medium date-picker" id="start_time" name="start_time1">
								<span class="add-on" id="start_time"><i class="icon-calendar"></i></span>
							</div>
							<div class="input-append" style="width:20px;margin-left:-12px;margin-right:5px;">
								<span class="add-on" style='background:#fff;border:none;'>~</span>
							</div>
							<div class="input-append date date-picker end_time">
								<input type="text" value="{$Think.get.start_time2|default=''}" size="16" readonly style="width:128px;"  class="span9 end_time m-wrap m-ctrl-medium date-picker" id="end_time" name="start_time2">
								<span class="add-on"><i class="icon-calendar"></i></span>
							</div>
						</div>

						<div class="from-columns column-select">
							<label for="source">订单状态：</label>
							<select name="status" style="width:100px;">
								<option value=""  <eq name="Think.get.status" value="" >selected</eq>>全部</option>
					  	   		<option value="0" <eq name="Think.get.status" value="0">selected</eq>>待支付</option>
					  	   		<option value="1" <eq name="Think.get.status" value="1">selected</eq>>待出行</option>
					  	   		<option value="2" <eq name="Think.get.status" value="2">selected</eq>>已完成</option>
					  	   		<option value="3" <eq name="Think.get.status" value="3">selected</eq>>待退款</option>
					  	   		<option value="4" <eq name="Think.get.status" value="4">selected</eq>>拒绝退款</option>
					  	   		<option value="5" <eq name="Think.get.status" value="5">selected</eq>>退款完成</option>
					  	   		<option value="6" <eq name="Think.get.status" value="6">selected</eq>>已取消</option>
					  	   	</select>
						</div>
						<div class="from-columns column-select">
							<label for="source">订单来源：</label>
							<select name="source" style="width: 110px;">
								<option value=""  <eq name="Think.get.source" value="" >selected</eq>>全部</option>
					  	   		<option value="1" <eq name="Think.get.source" value="1">selected</eq>>APP</option>
					  	   		<option value="2" <eq name="Think.get.source" value="2">selected</eq>>微信端</option>
					  	   		<option value="3" <eq name="Think.get.source" value="3">selected</eq>>PC端</option>
					  	   		<option value="4" <eq name="Think.get.source" value="4">selected</eq>>必好货商城</option>
					  	   		<option value="5" <eq name="Think.get.source" value="5">selected</eq>>线下</option>
					  	   	</select>
						</div>
						<div class="from-columns column-select">
							<label for="needs_invoice">需要发票：</label>
							<select name="needs_invoice" style="width: 80px;">
					  	   		<option value="" <eq name="Think.get.needs_invoice" value="">selected</eq>>全部</option>
					  	   		<option value="1" <eq name="Think.get.needs_invoice" value="1">selected</eq>>是</option>
					  	   		<option value="0" <eq name="Think.get.needs_invoice" value="0">selected</eq>>否</option>
					  	   	</select>
						</div>

						<div class="from-columns" id="check">
							<button class="btn green" type="submit">搜索</button>
							<a href="{:U('index')}" class="btn blue">重置</a>
						</div>
						<div class="from-columns">
							<a class="btn green" href="{:U('addOfflineOrder')}">添加线下订单</a>
						</div>
					</div>
				</form>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>选项</th>
						<eq name="id_status" value="1"><th><a  href="<?php
						 	if(strpos($_SERVER['REQUEST_URI'],'?')!==false){
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'1';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'1';
						 		};
						 	}else if(strpos($_SERVER['REQUEST_URI'],'/sort_id')!==false){
								echo preg_replace('/\/sort_id\/(\d+)/i', '/sort_id/1', $_SERVER['REQUEST_URI']);
						 	}else{
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'1';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'1';
						 		};
							}
						?>">订单号&nbsp;<img src="__IMG__/admin/icon_down.png" alt="" style="height: 15px;margin-left: 4px;"></a></th></eq>
						<eq name="id_status" value="2"><th><a  href="<?php
						 	if(strpos($_SERVER['REQUEST_URI'],'?')!==false){
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'2';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'2';
						 		};
						 	}else if(strpos($_SERVER['REQUEST_URI'],'/sort_id')!==false){
								echo preg_replace('/\/sort_id\/(\d+)/i', '/sort_id/2', $_SERVER['REQUEST_URI']);
						 	}else{
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'2';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'2';
						 		};
							}
						?>">订单号&nbsp;<img src="__IMG__/admin/icon_up.png" alt="" style="height: 15px;margin-left: 4px;"></a></th></eq>
						<eq name="id_status" value="3"><th><a  href="<?php
						 	if(strpos($_SERVER['REQUEST_URI'],'?')!==false){
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'3';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'3';
						 		};
						 	}else if(strpos($_SERVER['REQUEST_URI'],'/sort_id')!==false){
								echo preg_replace('/\/sort_id\/(\d+)/i', '/sort_id/3', $_SERVER['REQUEST_URI']);
						 	}else{
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'3';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'3';
						 		};
							}
						?>">订单号&nbsp;<img src="__IMG__/admin/icon_normal.png" alt="" style="height: 15px;margin-left: 4px;"></a></th></eq>
						<th>线路名称</th>
						<th>下单手机号</th>
						<eq name="username_status" value="4"><th><a  href="<?php
						 	if(strpos($_SERVER['REQUEST_URI'],'?')!==false){
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'4';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'4';
						 		};
						 	}else if(strpos($_SERVER['REQUEST_URI'],'/sort_id')!==false){
								echo preg_replace('/\/sort_id\/(\d+)/i', '/sort_id/4', $_SERVER['REQUEST_URI']);
						 	}else{
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'4';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'4';
						 		};
							}
						?>">下单日期&nbsp;<img src="__IMG__/admin/icon_down.png" alt="" style="height: 15px;margin-left: 4px;"></a></th></eq>
						<eq name="username_status" value="5"><th><a  href="<?php
						 	if(strpos($_SERVER['REQUEST_URI'],'?')!==false){
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'5';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'5';
						 		};
						 	}else if(strpos($_SERVER['REQUEST_URI'],'/sort_id')!==false){
								echo preg_replace('/\/sort_id\/(\d+)/i', '/sort_id/5', $_SERVER['REQUEST_URI']);
						 	}else{
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'5';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'5';
						 		};
							}
						?>">下单日期&nbsp;<img src="__IMG__/admin/icon_up.png" alt="" style="height: 15px;margin-left: 4px;"></a></th></eq>
						<eq name="username_status" value="6"><th><a  href="<?php
						 	if(strpos($_SERVER['REQUEST_URI'],'?')!==false){
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'6';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'6';
						 		};
						 	}else if(strpos($_SERVER['REQUEST_URI'],'/sort_id')!==false){
								echo preg_replace('/\/sort_id\/(\d+)/i', '/sort_id/6', $_SERVER['REQUEST_URI']);
						 	}else{
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'6';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'6';
						 		};
							}
						?>">下单日期&nbsp;<img src="__IMG__/admin/icon_normal.png" alt="" style="height: 15px;margin-left: 4px;"></a></th></eq>
						<eq name="realname_status" value="7"><th><a  href="<?php
						 	if(strpos($_SERVER['REQUEST_URI'],'?')!==false){
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'7';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'7';
						 		};
						 	}else if(strpos($_SERVER['REQUEST_URI'],'/sort_id')!==false){
								echo preg_replace('/\/sort_id\/(\d+)/i', '/sort_id/7', $_SERVER['REQUEST_URI']);
						 	}else{
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'7';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'7';
						 		};
							}
						?>">行程出发日期&nbsp;<img src="__IMG__/admin/icon_down.png" alt="" style="height: 15px;margin-left: 4px;"></a></th></eq>
						<eq name="realname_status" value="8"><th><a  href="<?php
						 	if(strpos($_SERVER['REQUEST_URI'],'?')!==false){
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'8';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'8';
						 		};
						 	}else if(strpos($_SERVER['REQUEST_URI'],'/sort_id')!==false){
								echo preg_replace('/\/sort_id\/(\d+)/i', '/sort_id/8', $_SERVER['REQUEST_URI']);
						 	}else{
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'8';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'8';
						 		};
							}
						?>">行程出发日期&nbsp;<img src="__IMG__/admin/icon_up.png" alt="" style="height: 15px;margin-left: 4px;"></a></th></eq>
						<eq name="realname_status" value="9"><th><a  href="<?php
						 	if(strpos($_SERVER['REQUEST_URI'],'?')!==false){
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'9';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'9';
						 		};
						 	}else if(strpos($_SERVER['REQUEST_URI'],'/sort_id')!==false){
								echo preg_replace('/\/sort_id\/(\d+)/i', '/sort_id/9', $_SERVER['REQUEST_URI']);
						 	}else{
						 		if($a = strstr($_SERVER['REQUEST_URI'],'sort_id',true)){
						 			echo $a.sort_id.'='.'9';
						 		}else{
						 			echo $_SERVER['REQUEST_URI'].'&'.sort_id.'='.'9';
						 		};
							}
						?>">行程出发日期&nbsp;<img src="__IMG__/admin/icon_normal.png" alt="" style="height: 15px;margin-left: 4px;"></a></th></eq>
						<th>付款金额</th>
						<th>订单状态</th>
						<th>订单来源</th>
						<th>是否需要发票</th>
					</tr>
				</thead>
				<tbody>
					<volist name="lists" id="vo">
						<tr>
							<td>
								<input type='checkbox' value="{$vo.order_id}" name='order_ids[]' class='order_check'/>
							</td>
							<td><a href="{:U('info',['order_id'=>$vo['order_id']])}">{$vo.order_sn}</a></td>
							<td>{$vo.name}</td>
							<td>{$vo.mobile}</td>
							<td>{$vo.add_time|date='Y-m-d H:i:s',###}</td>
							<td>{$vo.start_time|date='Y-m-d',###}</td>
							<td>{$vo.order_amount}</td>
							<!-- 0未付款;1待消费;2已完成;3待退款,4拒绝退款,5退款完成,6订单取消 -->
							<td>
								<!-- <eq name='vo.status' value='0' >待支付</eq>
								<eq name='vo.status' value='1' >待消费</eq>
								<eq name='vo.status' value='2' >已完成</eq>
								<eq name='vo.status' value='3' >待退款</eq>
								<eq name='vo.status' value='4' >拒绝退款</eq>
								<eq name='vo.status' value='5' >退款完成</eq>
								<eq name='vo.status' value='6' >已取消</eq> -->
								{$vo.status|getStatus=###,['0' =>['style'=>'label-danger','text'=>'待支付'],'1' =>['style'=>'label-warning','text'=>'待出行'],'2' =>['style'=>'label-success','text'=>'已完成'],'3' =>['style'=>'label-warning','text'=>'待退款'],'4' =>['style'=>'label-important','text'=>'拒绝退款'],'5' =>['style'=>'label-success','text'=>'退款完成'],'6' =>['style'=>'label-important','text'=>'已取消']]}
							</td>
							<td>
								<eq name='vo.source' value='1' >APP</eq>
								<eq name='vo.source' value='2' >微商城</eq>
								<eq name='vo.source' value='3' >PC端</eq>
								<eq name='vo.source' value='4' >必好货商城</eq>
								<eq name='vo.source' value='5' >线下</eq>
							</td>
							<td>
								<!-- <eq name='vo.needs_invoice' value='0' >否</eq>
								<eq name='vo.needs_invoice' value='1' >是</eq> -->
								{$vo.needs_invoice|getStatus=###,['0' =>['style'=>'label-danger','text'=>'否'],'1' =>['style'=>'label-success','text'=>'是']]}
							</td>
						</tr>
					</volist>
				</tbody>
			</table>
            <div class="row-fluid">
            	<div class="pagination pull-left" style="padding-left: 8px;width:20%">
                    <label class="checkbox" style="width:16%;float:left;"><input name='checkAll' id="check_all" type="checkbox" />全选</label>        
                    <button class="btn green" id="completeAll" style="margin-left: 20px;float:left;">出行完成</button>             
			    </div>
				<div class="pagination pull-right">
                    <ul>{$_page}</ul>               
			    </div>
            </div>
        </div>
    </div>
</div>
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/order/orderController'],function(main){
            main.index();
        });
    </script>
</block>