<extend name="Common:base" />
<block name="content">
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">发货列表</div>
        </div>
        <div class="portlet-body">
            <div class="clearfix">
                <!--<div class="btn-group">
                    <MyTag:rule name="Cartgo/del">
                    <a class="btn green" href="{:U('Cartgo/del')}">
                        删除<i class="icon-plus"></i>
                    </a>
                    </MyTag:rule>
                </div>-->
           <form class="form-search pull-right" action="{:U('index')}" method="GET" style="margin-right:15px;">
				  <div class="row  pull-left" style="margin-right:2px;">
                 <select class="m-wrap js-cat select-query span12" name="send_type">
                 	<option value="-1">配送方式</option>
					<option value="1" <eq name='send_type' value='1'>selected="selected"</eq>>普通物流</option>
					<option value="2" <eq name='send_type' value='2'>selected="selected"</eq>>送货上门</option>
					<option value="0" <eq name='send_type' value='0'>selected="selected"</eq>>门店自提</option>
                </select>
				</div>
				<div class="pull-left" style="margin-right:3px;">
					<input type="text" name="keywords" placeholder="收货人/运单号" class="m-wrap" value="{$keywords|default=''}">
				</div>
				<div class="input-append date pull-left date-picker start_time">
                        <input type="text" value="{$start_time|default=''}" size="16" class="span9 start_time m-wrap m-ctrl-medium date-picker" id="start_time" name="start_time">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                 </div>
				 <div class="input-append pull-left" style="width:20px;margin-left:-12px;margin-right:5px;">
				 <span class="add-on" style='background:#fff;border:none;'>~</span>
				 </div>
				 <div class="input-append pull-left date date-picker end_time">
                        <input type="text" value="{$end_time|default=''}" size="16" style="width:128px;"  class="span9 end_time m-wrap m-ctrl-medium date-picker" id="end_time" name="end_time">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
					<button type="submit" class="btn green" style="margin-right:-13px;">搜索</button>
				</form>
		   
		    </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type='checkbox' id='check_all'/></th>
                        <th>发货编号</th>
                        <th>配送方式</th>
                        <th>物流公司/门店</th>
                        <th>运单号</th>
                        <th>收货人</th>
						<th>创建时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <volist name="lists" id="vo">
                    <tr>
                        <td><input type='checkbox' value="{$vo.send_id}" name='send_id[]'  class='order_check'/></td>
                       <td>{$vo.send_sn}</th>
                        <td>{$vo.send_type|getStatus=###,['0' =>['style'=>'label-success','text'=>'门店自提'],'1' =>['style'=>'label-success','text'=>'物流发货'],'2' =>['style'=>'label-success','text'=>'上门送货']]}</td>
                        <td>{$vo.the_name}</td>
                        <td>
                        	<empty name="vo.send_num">
                              --
							  <else/>
							  {$vo.send_num}		
                        	</empty>
                        </td>
                        <td>{$vo.mobile}/{$vo.name}</td>
						<td>{$vo.send_time|date='Y-m-d H:i:s',###}</td>
                        <td>
                            <MyTag:rule name="Cartgo/info">
                            <a class="btn blue-stripe" href="{:U('info',['send_id'=>$vo['send_id']])}">查看</a>
                            </MyTag:rule>
							<MyTag:rule name="Cartgo/receipt">
							<eq name="vo.send_type" value="2">
								<eq name="vo.shipping_status" value='4'>
							      <a class="btn blue-stripe confirm_receipt" href="{:U('receipt',['order_id'=>$vo['order_id']])}">确认收货</a>
							    </eq>
							</eq>
							</MyTag:rule>
                        </td>
                    </tr>
                    </volist>
                </tbody>
            </table>
           <div class="row-fluid">
                
                <div class="pagination pull-right">
                    <ul>    
					{$_page}
					</ul>               
			     </div>
            </div>
        </div>
    </div>
</div>
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/Cartgo/CartgoController'],function(main){
            main.index();
        });
    </script>
</block>