<extend name="Common:base" />
<block name="css"><load href="__CSS__/App/admin/order/order.css"/></block>
<block name="content">
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption">发货详情</div>
        </div>
        <div class="portlet-body">
			<ul class="breadcrumb">
							<li>
								<a href="{:U('index')}">发货管理</a>
								<span class="icon-angle-right"></span>
								发货详情
							</li>
			</ul>			
			<div class="row-fluid">
					<div class="span12">
						<div class="tabbable tabbable-custom boxless">
							<div class="tab-content">
								<div id="tab_1" class="tab-pane active row-fluid">
										<div class='span8 info-left'> 
								  <div class="portlet box">
							              
                                          <div class="portlet-body"> 
										  <div class="info-base">
                                          		<h4>编号：</h4>
												<p>{$info.send_num}</p>
                                          	</div>  
                                          	<div class="info-base">
                                          		<h4>订单编号：</h4>
												<p>{$info.order_sn}</p>
                                          	</div>
											<div class="info-base">
                                          		<h4>下单会员：</h4>
												<p>{$info.username}</p>
                                          	</div>
											<div class="info-base">
                                          		<h4>付款时间：</h4>
												<p>{$info.pay_time|date='Y-m-d H:i:s',###}</p>
                                          	</div>
											<div class="info-base">
                                          		<h4>发货状态：</h4>
												<p>{$info.shipping_status}</p>
                                          	</div>
											<div class="info-base">
                                          		<h4>发货时间：</h4>
												<p>{$info.send_time|date='Y-m-d H:i:s',###}</p>
                                          	</div>
											<div class="info-base">
                                          		<h4>物流公司/门店：</h4>
												<p>{$info.the_name}</p>
                                          	</div>
											<div class="info-base">
                                          		<h4>物流单号：</h4>
												<p>{$info.send_num|default="--"}</p>
                                          	</div>
											<div class="info-base">
                                          		<h4>物流费用：</h4>
												<p>0</p>
                                          	</div>
											<div class="info-base">
                                          		<h4>配送人：</h4>
												<p>{$info.delivery|default=''}</p>
                                          	</div>
											<div class="info-base">
                                          		<h4>收货人信息：</h4>
												<p>{$info.name}[{$info.mobile}]&nbsp;&nbsp;{$info.address}</p>
                                          	</div>
											<br/>
											<div class="info-base">
                                          		<h4>发货人信息：</h4>
												<p>
												<notempty name='info.ware'>
												 {$info.ware.ware_username}[{$info.ware.ware_mobile}]&nbsp;&nbsp;{$info.ware.ware_address}
												 <else/>
												 --	
												</notempty>
											    </p>
                                          	</div>
											<br/>
											<div class="info-base">
                                          		<h4>操作人：</h4>
												<p>{$info.nickname}</p>
                                          	</div>
											<br/>
											<form  action="{:U('Cartgo/mark',array('send_id'=>$info['send_id']))}" method="post" id='send_mark' class="info-base info-mark">
                                          		<h4 style="float:left;">备注：</h4>
												<p><textarea rows="3" class="large m-wrap"  name="mark">{$info.send_remark|default=''}</textarea>
												<MyTag:rule name="Cartgo/mark">	
												<button type="submit" class='btn pull-left blue'>确定</button>
												</MyTag:rule>
												<a href="{:U('Cartgo/index')}" class="btn pull-left blue">返回</a>
												</p>
                                            </form> 
                                          </div>
						          </div>
								   </div>
								</div>
							</div>

						</div>

					</div>

				</div>
			
        </div>	
    </div>	
</div>
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/Cartgo/CartgoController'],function(main){
          main.info();
        });
    </script>
</block>