<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            <!--用户管理-->
        </h3>
        <div class="js-breadcrumb">
        <!--<ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="index.html">系统管理</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#">用户列表</a>
            </li>
        </ul>-->
        </div>
    </div>
</div>