<extend name="Common:base" />
<block name="content">
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption"><empty name="info.place_id">添加<else/>编辑</empty></div>
        </div>
        <div class="portlet-body form">
            <form autocomplete = "off" id="setPlace_form" action="{:U('SetPlace/update')}" method="post" class="form-horizontal">
            <div class="control-group">
                <label class="control-label">目的地名称<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" name="place_name" class="m-wrap" value="{$info.place_name}" <empty name="info.uid"><else/>disabled="disabled"</empty> />
                </div>
            </div>
			 <div class="control-group">
                <label class="control-label">所属分类<span class="required">*</span></label>
                <div class="controls">
                    <select class="m-wrap" name="fk_classify_id">
                        <option value="">请选择</option>
                        <volist name="category" id="vo">
                        <option value="{$vo.classify_id}" <eq name="info.fk_classify_id" value="$vo.classify_id">selected</eq>>{$vo.classify_name}</option>
                        </volist>
                    </select>
                </div>
            </div>
			<!-- <div class="control-group">
                <label class="control-label">图片链接地址<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" name="place_url" class="m-wrap" value="{$info.place_url}" <empty name="info.uid"><else/>disabled="disabled"</empty> />
                </div>
            </div> -->
			<div class="control-group">
                <label class="control-label">搜索关键词<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" name="place_keyword" class="m-wrap" value="{$info.place_keyword}" />多个关键词用“,”分开
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">显示顺序</label>
                <div class="controls">
                    <input type="text" name="place_sort" class="m-wrap popovers"  value="{$info.place_sort}"/>显示顺序越大则越靠前显示
                </div>
            </div>
			
			<!--  <div class="control-group">
                <label class="control-label">链接地址<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" name="place_time" class="m-wrap popovers" />
                </div>
				
            </div> -->

            <div class="control-group">
                <label class="control-label">是否启用</label>
                <div class="controls">
                    <label class="radio">
                        <input type="radio" name="place_state" value="2" <eq name="info.place_state" value="2">checked</eq>/>
                        禁用
                    </label>
                    <label class="radio">
                        <input type="radio" name="place_state" value="1" <empty name="info.place_state">checked<else/><eq name="info.place_state" value="1">checked</eq></empty>/>
                        启用
						
                    </label>
                </div>
            </div>
			 <div class="control-group">
				 <label class="control-label">上传图片<span class="required">*</span></label>
				 <div class="controls" style="position:relative;">
					<span style="color:red;position:absolute;top:2px;left:80px;display:block;">推荐尺寸 360px*360px，每张图片大小不超过200K。</span>
					<MyTag:plupload type="one" attachment="info.attribute_id" thumb="true" clickdefault="true"/>
				 </div>
			</div>
            <div class="form-actions">
                <input type="hidden" name="place_id" value="{$info.place_id}"/>
                <button type="submit" class="btn blue">提交</button>
                <a class="btn" href="{:U('Marketing/index')}">返回</a>
            </div>
            </form>
        </div>
    </div>
</div>
</block>
<block name="js">
    <script type="text/javascript">
        seajs.use(['controller/marketing/marketingController'],function(admin){
           admin.setPlaceEdit();
        });
    </script>
</block>