@charset "utf-8";
.data-box h1{
	background-position:353px 16px;
}
.sersafe-steps{
	top:-36px;
	background:url("../../Images/home/safe_02.png") no-repeat 0 3px;
}

.sersafe-steps .sprite-bg{
	
	background-image:none;
}
.sersafe-steps .active .step{

	background-image:none;
}
.sersafe-steps .step{
	background-image:none;
}
.sersafe-steps li{
	width:137px;
	height:40px;
}
.sersafe-steps .step{
	color:#fff;
}
