@charset "utf-8";
/* CSS Document */
.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.accordion li {
	list-style: none;
}
#wrapper-250{
	width:200px;
	float:left;
	padding-top:10px;
}
/* Layout & Style */

.accordion li > a {
	display: block;
	position: relative;
	min-width: 110px;
	padding: 0 10px 0 40px;
	height:40px;
	line-height:40px;
	color: #333;
	text-decoration: none;
	background:#eeeeee;
	border-bottom:1px solid #fff;
	font-size:14px;
	}

.accordion > li:hover > a,
.accordion > li > a.active {
	background: none repeat scroll 0 0 #f08300;
    border-bottom: 1px solid #fff;
    color: #fff;
    height: 40px;
    line-height: 40px;
}


/* Images */

.accordion > li > a:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width:188px;
	height: 24px;
	margin: 4px 8px;
	background-repeat: no-repeat;
	background-image: url(../../Images/home/icons_02.png);
	background-position: -5px -3px;
}

.accordion li.files > a:before { background-position: -5px -3px; }
.accordion li.files:hover > a:before,
.accordion li.files:target > a:before,
.accordion li.files > a.active:before { background:url(../../Images/home/icons_01.png) no-repeat -6px -3px; }

.accordion li.mail > a:before { background-position: -5px -3px; }
.accordion li.mail:hover > a:before,
.accordion li.mail:target > a:before,
.accordion li.mail > a.active:before { background:url(../../Images/home/icons_01.png) no-repeat -6px -3px;  }

.accordion li.cloud > a:before { background-position: -5px -3px; }
.accordion li.cloud:hover > a:before,
.accordion li.cloud:target > a:before,
.accordion li.cloud > a.active:before { background:url(../../Images/home/icons_01.png) no-repeat -6px -3px;  }

.accordion li.sign > a:before { background-position: -5px -3px; }
.accordion li.sign:hover > a:before,
.accordion li.sign:target > a:before,
.accordion li.sign > a.active:before { background:url(../../Images/home/icons_01.png) no-repeat -6px -3px; }

/* Sub Menu */

.sub-menu li a {
	color: #666;
	font-size:12px;
	background: #f7f7f7;
	border:none;
	height:30px;
	line-height:30px;
}

.sub-menu li:hover a { color: #ff9a00; }

.sub-menu li:last-child a { border: none; }




/* Functionality */

.accordion li > .sub-menu {
	display: none;
	border: 1px solid #ff8c00;
	border-top:none;
	padding:8px 0;
}

.accordion li:target > .sub-menu {
	display: block;
}
#plist{
	width:790px;
	float:right;
}

#plist .price_btn{
	right:16px;
}
#plist_pro{
	top:2px;
	width:797px;
}
#plist .plist_title{
	width:768px;
}
#plist li{
	width:220px;
	height:310px;
	margin-left:32px;
}
