@charset "utf-8";
body{
	width:625px;
	margin:0 auto;
	background:#fff;
}
.logo-box{
	padding-left:20px;
}
#header{
	border:1px solid #FF8C00;
}
#nav li{
	width:89px;
}
.header-text{
	padding:20px;
	
}
.header-text h2{
	padding-bottom:20px;
}
.header-text p{
	font-size:14px;
	line-height:25px;
}
.header-text p a{
	color:#FF8C00;
	text-decoration:underline;
}
.header-text p span{
	color:#9d9d9d;
}
#content{
	border:1px solid #FF8C00;
	margin-top:15px;
	padding:20px;
}
#content p{
	font-size:14px;
	line-height:25px;
}
#footer{
	position:inherit;
	margin-top:5px;
}

