@charset "utf-8";
#content{
		font-size:18px;
		text-align:center;
		
	}
	#content h2{
		background:none;
		text-align: left;
		padding-left:0;
		font-size:16px;
	}
	#content a{
		color:#FF8C00;
	}
	#content a:hover{
		text-decoration:underline;
	}
	#content .back-email{
		background:url("../../Images/home/ex_00.png") no-repeat 248px 0;
		height:60px;
		line-height:60px;
	}