@charset "utf-8";
/* CSS Document *//* CSS Document */
 .data_box input{
	width:240px;
 }
 .data_box .data_opt .btn2{
 	margin-left:120px;
 }
.data_box .data_opt .address_from{
  	margin-left:-28px;
  }
.data_box .data_opt p{
     	/*width:327px;*/
     }
.data_box .data_opt label.error{
 	color:#ff8c00;
 	padding-left:32px;
 }