<extend name="Common:base" />
<block name="css">
<link type="text/css" rel="stylesheet"
    href="__CSS__/App/home/login-page.css">
<link type="text/css" rel="stylesheet"
    href="__CSS__/App/home/find-page.css">
<link type="text/css" rel="stylesheet"
    href="__CSS__/App/home/find-suc.css">
<link type="text/css" rel="stylesheet"
    href="__CSS__/App/home/refund-page.css">
   <style>
   #content h2 {
        background: rgba(0, 0, 0, 0) url("__CSS__/Images/home/find_00.png") no-repeat scroll 0 41px;
        height:40px;
        line-height:40px;
        margin-top:20px;
        padding-left:36px;
   }
   </style>
</block>

<block name="top">
    <include file="Common:login_top" />
</block>
<block name="bottom">
    <include file="Common:login_bottom" />
</block>

<block name="content">
<div id="content">
    <div class="hd">
        <h2 class="loginSprite">找回密码</h2>
       <div class="sersafe-steps">
                    <ol>
                        <li>
                            <s class="bg"></s>
                            <div class="step step-sprite step-new">
                                <i>1、</i>
                                <span>填写账户名</span>
                            </div>
                        </li>
                        <li >
                            <s class="bg"></s>
                            <div class="step step-sprite sprite-bg step-new sprite-new">
                                <i>2、</i>
                                <span>验证身份</span>
                            </div>
                        </li>
                        <li >
                            <s class="bg"></s>
                            <div class="step step-sprite sprite-bg step-new sprite-new">
                                <i>3、</i>
                                <span>设置新密码</span>
                            </div>
                        </li>
                        <li class="active">
                            <s class="bg"></s>
                            <div class="step step-sprite sprite-bg step-new sprite-new">
                                <i>4、</i>
                                <span>完成</span>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ol>
                </div>
              
                </div>
                    <div class="data-box">
                        <h1>密码修改成功！</h1>
                    <div class="jump-box">
                        您可能需要:<a href="{:U('cart/index')}">我的订单</a>丨<a href="{:U('/')}">继续购物</a>
                    </div>      
                 </div>
                
    
  </div>
</block>
<block name="js"> <script type="text/javascript">
    seajs.use('controller/passportController', function(passport) {
    	passport.findPassport.setPassword();
    });
</script> 
</block>
