<extend name="Common:base" />
<block name="css">
<link type="text/css" rel="stylesheet"
    href="__CSS__/App/home/login-page.css">
<link type="text/css" rel="stylesheet"
    href="__CSS__/App/home/find-page.css">
<link type="text/css" rel="stylesheet"
    href="__CSS__/App/home/find-phone.css">
</block>



<block name="top">
    <include file="Common:login_top" />
</block>
<block name="bottom">
    <include file="Common:login_bottom" />
</block>


<block name="content">

<div id="content">
    <div class="hd">
        <h2 class="loginSprite">找回密码</h2>
       <div class="sersafe-steps">
                    <ol>
                        <li>
                            <s class="bg"></s>
                            <div class="step step-sprite step-new">
                                <i>1、</i>
                                <span>填写账户名</span>
                            </div>
                        </li>
                        <li class="active">
                            <s class="bg"></s>
                            <div class="step step-sprite sprite-bg sprite-new">
                                <i>2、</i>
                                <span>验证身份</span>
                            </div>
                        </li>
                        <li>
                            <s class="bg"></s>
                            <div class="step step-sprite sprite-bg">
                                <i>3、</i>
                                <span>设置新密码</span>
                            </div>
                        </li>
                        <li>
                            <s class="bg"></s>
                            <div class="step step-sprite">
                                <i>4、</i>
                                <span>完成</span>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ol>
                </div>
                 <div class="clearfix"></div>
                </div>
                <div class="find-text">
                <form id = 'signupForm'  action = '{:U("doBackPass")}'>
	                    <div class="choice-box">
	                        <p>请选择验证方式</p>
	                        <select class="choice-select" name = 'way'>
	                            <neq name = 'way.phone' value = ''>
	                                 <option value="phone">已验证{$way.phone}手机</option>
	                            </neq>
	                            <neq name = 'way.email' value = ''>
	                                <option value="email">已验证邮箱</option>
	                            </neq>
	                        </select>
	                        <div class="code-box">
	                        <p>已绑定手机:<span class = 'phone'>{$way.phone}</span></p>
							<p>
								<button class="phone_btn1 msgs" value="发送验证码">发送验证码</button>
								<span class="suc-text">&nbsp;验证码已发送成功,请查收</span>
							</p>
					<p><label>短信验证码:</label><input type="text" placeholder="验证码" class="code-inp" name = 'mess_code'></p>
	                        </div>
	                        <div class="email-code">
	                            <p>已绑定邮箱:{$way.email}</p>
	                        </div>
	                        <input type="submit" value="下一步"  class="next-action"/>
	                    </div>
                    </form>
                </div>
    
  </div>
</block>
<block name="js"> <script type="text/javascript">
    seajs.use('controller/passportController', function(passport) {
        passport.findPassport.passwordWay();
    });
</script> </block>