<extend name="Common:base" />
<block name="css">
<link type="text/css" rel="stylesheet"
    href="__CSS__/App/home/login-page.css">
<link type="text/css" rel="stylesheet"
    href="__CSS__/App/home/find-page.css">
</block>


<block name="top">
    <include file="Common:login_top" />
</block>
<block name="bottom">
    <include file="Common:login_bottom" />
</block>


<block name="content">
<div id="content">
    <div class="hd">
        <h2 class="loginSprite">找回密码</h2>
       <div class="sersafe-steps">
                    <ol>
                        <li>
                            <s class="bg"></s>
                            <div class="step step-sprite step-new">
                                <i>1、</i>
                                <span>填写账户名</span>
                            </div>
                        </li>
                        <li >
                            <s class="bg"></s>
                            <div class="step step-sprite sprite-bg step-new sprite-new">
                                <i>2、</i>
                                <span>验证身份</span>
                            </div>
                        </li>
                        <li class="active">
                            <s class="bg"></s>
                            <div class="step step-sprite sprite-bg sprite-new">
                                <i>3、</i>
                                <span>设置新密码</span>
                            </div>
                        </li>
                        <li>
                            <s class="bg"></s>
                            <div class="step step-sprite">
                                <i>4、</i>
                                <span>完成</span>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ol>
                </div>
                 <div class="clearfix"></div>
                </div>
                <div class="find-text">
                    
                    <form id="signupForm" class="find-inp">
                        <p class="address_from" ><label>设置新密码:</label><input id="passWord"type="password" name="passWord" placeholder="6-20位大小写英文字母、数字或符号"></p>
                        <p class="address_from" ><label>确认新密码:</label><input type="password" id="confirm_password" name="confirm_password" placeholder="请输入新密码"></p>
                        <p><button class="btn2" type="submit">提交</button></p>
                    </form>
                    
                </div>
  </div>
</block>
<block name="js"> <script type="text/javascript">
    seajs.use('controller/passportController', function(passport) {
    	passport.findPassport.setPassword();
    });
</script> 
</block>
