<extend name="Common:base" />
<block name="css"><load href="__CSS__/App/admin/type/type.css"/></block>
<block name="content">
<div class="row-fluid">
    <div class="portlet box blue">
        <div class="portlet-title">
            <div class="caption"><empty name="info.type_id">添加<else/>编辑</empty>保险</div>
        </div>
        <div class="portlet-body form">
            <form id="from_edit" action="{:U('update')}" method="post" class="form-horizontal">
            	<input type="hidden" name='id' value="{$info.id|default=''}"/>
            <div class="control-group">
                <label class="control-label">保险名称</label>
                <div class="controls">
                    <input type="text" name="name" class="m-wrap" value="{$info.name|default=''}"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">保险价格</label>
                <div class="controls" style="line-height:34px;">
                    <input type="text" name="costs" class="m-wrap span1" value="{$info.costs|default=''}"/>&nbsp;&nbsp;元
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">是否启用</label>
                <div class="controls">
                    <label class="radio">
                        <input type="checkbox" name="status" value="1" <eq name="info.status" value="1">checked</eq> />
                        启用
                    </label>
                </div>
            </div>
             <!--属性分组
            <div class="control-group">
                <label class="control-label">属性分组</label>
                <div class="controls">
					<div class="m-wrap check-box" id='add-input'>
						 <empty name="info.att_group">
						 	<div class="edit-del">
						 	 <input type="text" class="span2 m-wrap" name="attk[]" value=""/>
							  <i class="icon-remove remove-del"></i>
							 </div>
						 <else/>
						<volist name="info.att_group" id="vo">
					   <div class="edit-del">
					  	  <input type="text" class="span2 m-wrap" name="att[{$vo.id}]" value="{$vo.name}"/>
						   <i class="icon-remove remove-del"></i>
					   </div>
					   </volist>
					   </empty>
					   <div class="edit-del add-in">
					   <a href="javascript:void(0);" class="btn">
                            <i class="icon-plus"></i>
                       </a>
					   </div>
                    </div>
                </div>
            </div>-->
   
            <div class="form-actions">
                <button type="submit" class="btn blue">提交</button>
                <a class="btn" href="{:U('Insurance/index')}">返回</a>
            </div>
            </form>
        </div>
    </div>
</div>
</block>
<!-- <block name="js">
    <script type="text/javascript">
        seajs.use(['controller/type/typeController'],function(main){
          main.index();
        });
    </script>
</block> -->