<extend name="Common:base"/>
<block name="css">
    <link type="text/css" rel="stylesheet" href="__CSS__/App/home/data-page.css">
    <link type="text/css" rel="stylesheet" href="__CSS__/App/home/email-page.css">
    <link type="text/css" rel="stylesheet" href="__CSS__/App/home/phone-page.css">
    <link type="text/css" rel="stylesheet" href="__CSS__/App/home/phone-old.css">
    <style>
    .verify-form .button-next{
        width:100px;
    }
    .em-suc{
        color:#FF8C00;
        margin-left:10px;
    }
</style>
</block>
<block name="content">
<div id="content">
  <include file="I/common"/>
    <div class="data_box">
      <div class="usersafe-tip clearfix">
      <div class="usersafe-crumbs">
          <a href="safe-page.html">账户安全</a><i>&gt;</i><span style="color:#ff8c00;">原邮箱验证</span><div class="old-text">如无法修改绑定邮箱，请联系客服0755-86704402</div>
      </div>
      
            </div>
            <form id = 'editEmail'  >
      <div class="verify-form modify-email">
                <ul>
                    <li><p>账户名:{$user.uid|showUserName}</p></li>
                    <li>
                        <p><span>原绑定邮箱账号号：</span>{$email}
                       </p>
                     </li>
                    <li class="code_box" style="left:9px;">
                        <span>验证码：</span>
                        <input type="text" class="verifyCode"  name = 'verifyCode'>
                       <span class="code-suc" ><img  id = 'verify-code'  name = 'changeCode'  src="{:U('genreateVerify',['type' => 1])}"><a name = 'changeCode' href="javascript:void(0);">换一张</a></span>
                    </li>
                    <li>
                        <input type="submit" value="发送邮箱验证" class="btnNextPhone button-next"><span class="em-suc">邮件发送成功</span>
                    </li>
                </ul>
            </div>
            </form>
    </div>
</div>
</block>
<block name="js">
	<script type="text/javascript">
		seajs.use('controller/usersafeController',function(main){
			main.editemail();
		});
	</script>
</block>