<extend name="Common:base" />
<block name="css">
<link type="text/css" rel="stylesheet"
	href="__CSS__/App/home/safe-page.css">
<link type="text/css" rel="stylesheet"
	href="__CSS__/App/home/data-page.css">
<link type="text/css" rel="stylesheet"
	href="__CSS__/App/home/password-page.css">
</block>
<block name="content">
<div id="content">
	<include file="I/common" />
	<div class="data_box">
		<div class="data_opt">
			<form id="signupForm"  action = '{:U("i/updatePassword")}'  >
				<p>
					<label>登录名:</label>{$user.username}
				</p>
				<p class="name_form">
					<label>当前密码:</label><input type="password"  id ='password' name = 'password'>
				</p>
				<p class="address_from">
					<label>设置新密码:</label><input type="password"
						name="newPassWord"  id = 'newPassWord'>
				</p>
				<p class="address_from">
					<label>确认新密码:</label><input type="password"   name="confirm_password">
				</p>
				<p>
					<button class="btn2" type="submit">保存</button>
				</p>
			</form>
		</div>
	</div>
</div>
</block>
<block name="js"> <script type="text/javascript">
	seajs.use('controller/usersafeController', function(usersafe) {
		usersafe.passwordPage();
	});
</script> </block>