<extend name="Common:base" />
<block name="css">
<link type="text/css" rel="stylesheet"
	href="__CSS__/App/home/data-page.css">
<link type="text/css" rel="stylesheet"
	href="__CSS__/App/home/safe-page.css">
<link type="text/css" rel="stylesheet"
	href="__CSS__/App/home/refund-page.css">
	<style>
    #content h2{
    background-image:none;
    background:#ba6701;
    height:30px;
    line-height:27px;
    margin-top: 20px;
    padding-left:0;
    }
    .usersafe-crumbs{
        text-align:left;
        padding-left:30px;
        font-size:16px;
    }
    .usersafe-crumbs a{
        color:#444;
    }
    .data-box h1{
        background-position:239px 0;
    }
    .buy-btn{
        display: block;
        width:100px;
        height:25px;
        color:#fff;
        text-align:center;
        background:#FF8C00;
        line-height:25px;
        margin:0 auto;
        margin-top:20px;
        font-size:14px;
    }
</style>
</block>
<block name="content">
<div id="content">
	<include file="I/common" />
	<div class="data_box data-box">
		<div class="usersafe-crumbs">
          <a href="{:U('usersafe')}">账户安全</a><i>&gt;</i><span style="color:#ff8c00;">手机验证</span>
      </div>
      <h1>恭喜您，手机绑定成功</h1>
        <div class="jump-box">
        去<a href="{:U('I/checkemail')}">绑定邮箱></a>可用于登录,忘记密码时也可通过邮件找回密码。
        </div> 
        <a href="{:U('/')}" class="buy-btn">立即购物</a>
	</div>
</div>
</block>
<block name="js"> <script type="text/javascript">
	seajs.use('controller/usersafeController.js', function(usersafe) {
	    usersafe.phone();
	});
</script> </block>